.features {
  display: flex;
  .link-callback {
    align-self: flex-end;
  }
}

.features--without-icon {
  font-size: 2rem;
  font-weight: 400;
  color: #262628;
}

.features__text-big {
  margin-left: 0.4rem;
  font-size: 4rem;
  font-weight: 700;
}

.features__text-small {
  display: inline-block;
  vertical-align: top;
  margin-top: 0.5rem;
  margin-left: 0.4rem;
}

.features__list {
  display: flex;
  justify-content: space-between;
  width: 53rem;
  font-size: 1.8rem;
  font-weight: 300;
}

.features__item {
  position: relative;
  width: 17.8rem;
  padding-left: 5.1rem;

  color: #262628;

  &::before {
    content: '';
    position: absolute;
    top: 0.4rem;
    left: 0;

    width: 3.2rem;
    height: 3.2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &--program::before {
    background-image: url("../img/features/program-b.svg");
  }

  &--call::before {
    left: 0.8rem;
    background-image: url("../img/features/call-b.svg");
  }

  &--mef::before,
  &--alpha::before {
    top: -1rem;
    left: 0.2rem;
    width: 4rem;
    height: 4rem;
    background-image: url("../img/features/research-b.svg");
  }
}

.features__title {
  margin-bottom: 2.4rem;
  color: #3F5FD3;
}

.features__description {
  line-height: 2.2rem;
  font-weight: 400;
}

.bg {
  .features--without-icon {
    font-weight: 600;
    color: #fff;
  }
  .features__title {
    color: #9BB1FF;
  }
  .features__item {
    color: #fff;
    &--program::before {
      background-image: url("../img/features/program-w.svg");
    }

    &--call::before {
      background-image: url("../img/features/call-w.svg");
    }
  }
}

@media (max-width: @mobile-width) {

  .features--without-icon {
    font-size: @m30px;
  }

  .features__text-big {
    margin-left: @m4px;
    font-size: @m50px;
  }

  .features__text-small {
    margin-top: @m5px;
    margin-left: @m4px;
  }

  .features__list {
    width: @a;
    font-size: @m30px;
  }

  .features__item {
    width: @m240px;
    padding-left: @m70px;

    &::before {
      top: -@m4px;
      left: 0;

      width: @m41px;
      height: @m41px;
    }

    &--program::before,
    &--call::before {
      left: @m10px;
    }

    // &--mef::before,
    // &--alpha::before {
    //   top: -@d10px;
    //   left: @d2px;
    //   width: @d40px;
    //   height: @d40px;
    // }
  }

  .features__title {
    margin-bottom: @m32px;
  }

  .features__description {
    line-height: @m36px;
  }

  .bg {
    .features--without-icon {
      font-size: @m20px;
    }
    .features__text-big {
      font-size: @m40px;
    }
    .features__item {
      padding-left: @m51px;
      &--program::before {
        left: 0;
      }
      &--call::before {
        left: -@m4px;
      }
    }
    .features__title {
      margin-bottom: @m26px;
    }
  }
}
