.header {
  // .bred;
  position: absolute;
  z-index: 5;
  width: 100%;

  margin-top: 25px;

  .container {
    width: 1542px;
  }
}

.bg.header * {
  color: #fff;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__phone-wrapper {
  font-family: @roboto;
  text-align: right;
}

.header__phone {
  display: inline-block;

  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 500;
}

.header__phone-text {
  font-size: 18px;
  font-weight: 300;
}
