.logo {
  position: relative;

  width: 182px;
  margin-top: 3px;
  padding-left: 76px;

  &::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 10px;

    width: 50px;
    height: 68px;

    background-image: url('../img/logo/logo-white.svg');
    background-repeat: no-repeat;
  }
}

.logo__title {
  margin-bottom: 6px;
  font-size: 30px;
  font-weight: 600;
  // line-height: 36px;
}

.logo__description {
  margin-left: 2px;

  font-family: @roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
}
