.logo {
  position: relative;

  width: 18.2rem;
  margin-top: 0.3rem;
  padding-left: 7.6rem;

  &::before {
    content: '';
    position: absolute;
    top: 0.6rem;
    left: 1rem;

    width: 5.0rem;
    height: 6.8rem;

    background-image: url('../img/logo/logo-blue.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &--empty {
    margin-top: 0;
    padding-left: 0;
  }

  &--empty::before {
    content: none;
  }
}

.logo__title {
  margin-bottom: 0.6rem;
  font-size: 3rem;
  font-weight: 600;
  &--less {
    margin-bottom: 1.2rem;
    font-size: 2.4rem;
  }
}

.logo__description {
  margin-left: 0.2rem;

  font-family: @roboto;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.8rem;
}

.logo__img {
  margin-bottom: 0.9rem;
}

.logo__about {
  margin-top: 3.3rem;
  font-weight: 300;
  &--block {
    display: block;
  }
}

.bg,
.active {
  .logo::before {
    background-image: url('../img/logo/logo-white.svg');
  }
}

@media (max-width: @mobile-width) {
  .logo {
    width: 13.4rem;
    margin-top: 0px;
    padding-left: 5.8rem;

    &::before {
      top: 0.8rem;
      left: 0.4rem;
      width: 4.2rem;
      height: 5.8rem;
    }
  }

  .logo__title {
    margin-bottom: 0.8rem;
    font-size: 4rem;
    line-height: 3.8rem;
  }

  .logo__img {
    width: 11.2rem;
    height: 15.2rem;
  }

  .logo__text-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 0.3rem;
  }

  .logo__description {
    margin-left: 0;
    margin-bottom: 1.3rem;

    font-size: 2.2rem;
    line-height: 2.6rem;
  }

  .logo__about {
    margin-top: 3.3rem;
    font-size: 2.5rem;
  }

  .bg {
    .logo__title {
      margin-bottom: 0px;
      font-size: 3.2rem;
    }
  }
}
