.logo {
  position: relative;

  width: @d182px;
  margin-top: @d3px;
  padding-left: @d76px;

  &::before {
    content: '';
    position: absolute;
    top: @d6px;
    left: @d10px;

    width: @d50px;
    height: @d68px;

    background-image: url('../img/logo/logo-blue.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &--empty {
    margin-top: 0;
    padding-left: 0;
  }

  &--empty::before {
    content: none;
  }
}

.logo__title {
  margin-bottom: @d6px;
  font-size: @d30px;
  font-weight: 600;
  // line-height: 36px;
  &--less {
    margin-bottom: @d12px;
    font-size: @d24px;
  }
}

.logo__description {
  margin-left: @d2px;

  font-family: @roboto;
  font-size: @d15px;
  font-weight: 300;
  line-height: @d18px;
}

.logo__img {
  margin-bottom: @d9px;
}

.logo__about {
  margin-top: @d33px;
  font-weight: 300;
  &--block {
    display: block;
  }
}

.bg {
  .logo::before {
    background-image: url('../img/logo/logo-white.svg');
  }
}

@media (max-width: @mobile-width) {
  .logo {
    width: @m134px;
    margin-top: 0px;
    padding-left: @m58px;

    &::before {
      top: @m8px;
      left: @m4px;
      width: @m42px;
      height: @m58px;
    }
  }
  .logo__title {
    margin-bottom: 0px;
    font-size: @m32px;
    line-height: @m38px;
  }
}

@media (min-width: @max-desktop-width) {
  .logo {
    width: 182px;
    margin-top: 3px;
    padding-left: 76px;
    &::before {
      top: 6px;
      left: 10px;
      width: 50px;
      height: 68px;
    }
    &--empty {
      margin-top: 0;
      padding-left: 0;
    }
  }

  .logo__title {
    margin-bottom: 6px;
    font-size: 30px;
    &--less {
      margin-bottom: 12px;
      font-size: 24px;
    }
  }

  .logo__description {
    margin-left: 2px;
    font-size: 15px;
    line-height: 18px;
  }

  .logo__img {
    margin-bottom: 9px;
  }

  .logo__about {
    margin-top: 33px;
  }
}
