.main-nav {
  width: @d788px;
  margin-left: @d22px;
  font-size: @d16px;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
}

.main-nav__item {
  margin-top: @d5px;
  &:not(:last-child) {
    margin-right: @d27px;
  }
}

@media (max-width: @mobile-width) {
}

@media (min-width: @max-desktop-width) {
  .main-nav {
    width: 788px;
    margin-left: 22px;
    font-size: 16px;
  }

  .main-nav__item {
    margin-top: 5px;
    &:not(:last-child) {
      margin-right: 27px;
    }
  }
}
