.main-nav {
  width: 788px;
  margin-left: 22px;
  font-size: 16px;
}

.main-nav__list {
  display: flex;
  // justify-content: space-between;
  flex-wrap: wrap;
}

.main-nav__item {
  margin-top: 5px;
  &:not(:last-child) {
    margin-right: 27px;
  }
}

.main-nav__link {
}
