.footer {
  height: 500px;
  padding-top: 88px;
  padding-bottom: 88px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__list {
  &--right {
    text-align: right;
  }
}

.footer__item,
.footer__link {
  font-size: 16px;
  font-weight: 300;
  color: #161616;
}

.footer__item {
  margin-bottom: 20px;
  &--bold {
    font-weight: 400;
    text-transform: uppercase;
  }
}

@media (max-width: @mobile-width) {
}

@media (min-width: @max-desktop-width) {
}
