@font-face {
  font-display: swap;
  font-family: 'Myriad Pro';
  src: local('Myriad Pro Light'), local('MyriadPro-Light'), url('../fonts/MyriadPro/light/MyriadPro-Light.woff2') format('woff2'), url('../fonts/MyriadPro/light/MyriadPro-Light.woff') format('woff'), url('../fonts/MyriadPro/light/MyriadPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'Myriad Pro';
  src: local('Myriad Pro Regular'), local('MyriadPro-Regular'), url('../fonts/MyriadPro/regular/MyriadPro-Regular.woff2') format('woff2'), url('../fonts/MyriadPro/regular/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro/regular/MyriadPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'Myriad Pro';
  src: local('Myriad Pro Semibold'), local('MyriadPro-Semibold'), url('../fonts/MyriadPro/semibold/MyriadPro-Semibold.woff2') format('woff2'), url('../fonts/MyriadPro/semibold/MyriadPro-Semibold.woff') format('woff'), url('../fonts/MyriadPro/semibold/MyriadPro-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'Myriad Pro';
  src: local('Myriad Pro Bold'), local('MyriadPro-Bold'), url('../fonts/MyriadPro/bold/MyriadPro-Bold.woff2') format('woff2'), url('../fonts/MyriadPro/bold/MyriadPro-Bold.woff') format('woff'), url('../fonts/MyriadPro/bold/MyriadPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: Circe;
  src: local("Circe ExtraLight"), local("Circe-ExtraLight"), url("../fonts/Circe/extralight/Circe-ExtraLight.woff") format("woff"), url("../fonts/Circe/extralight/Circe-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: Circe;
  src: local("Circe"), local("Circe Regular"), local("Circe-Regular"), url("../fonts/Circe/regular/Circe-Regular.woff2") format("woff2"), url("../fonts/Circe/regular/Circe-Regular.woff") format("woff"), url("../fonts/Circe/regular/Circe-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: Circe;
  src: local("Circe ExtraBold"), local("Circe-ExtraBold"), url("../fonts/Circe/extrabold/Circe-ExtraBold.woff2") format("woff2"), url("../fonts/Circe/extrabold/Circe-ExtraBold.woff") format("woff"), url("../fonts/Circe/extrabold/Circe-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/Roboto/light/Roboto-Light.woff2') format('woff2'), url('../fonts/Roboto/light/Roboto-Light.woff') format('woff'), url('../fonts/Roboto/light/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto/medium/Roboto-Medium.woff2') format('woff2'), url('../fonts/Roboto/medium/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto/medium/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/Roboto/bold/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto/bold/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto/bold/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Myriad Pro', 'Arial', sans-serif;
  font-weight: 400;
  color: #000;
  background-color: #f9f9f9;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
.noscroll {
  overflow: hidden !important;
  height: 100% !important;
}
.overlay {
  display: none;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.active.overlay {
  display: block;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 79.1vw;
  margin-left: auto;
  margin-right: auto;
}
.link,
.link-callback,
.link-region {
  position: relative;
  display: inline-block;
  font-family: 'Myriad Pro', 'Arial', sans-serif;
  font-size: 0.9375vw;
  color: #161616;
}
.link--roboto-bold,
.link-callback--roboto-bold,
.link-region--roboto-bold {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 500;
  color: #000;
}
.link::before,
.link-callback::before,
.link-region::before,
.link::after,
.link-callback::after,
.link-region::after {
  content: '';
  position: absolute;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.link,
.link-callback {
  padding-right: 2.0312vw;
}
.link::before,
.link-callback::before {
  top: auto;
  bottom: -0.625vw;
  width: 100%;
  height: 0.10416vw;
  background-color: #9BB1FF;
}
.link::after,
.link-callback::after {
  top: 0.10416vw;
  width: 0.5208vw;
  height: 0.8854vw;
  right: 0px;
  background-image: url('../img/svg/arrow-b.svg');
}
.link-region {
  text-decoration-line: underline;
}
.link-region::before {
  top: -0.41666vw;
  left: -2.8645vw;
  width: 2.3437vw;
  height: 2.3437vw;
  background-image: url('../img/svg/region-point-b.svg');
}
.bg .container {
  width: 79.375vw;
}
.bg .link,
.bg .link-callback,
.bg .link-region {
  color: #fff;
}
.bg .link-callback {
  padding-right: 1.5104vw;
}
.bg .link-callback::before {
  bottom: -0.41666vw;
  background-color: #fff;
}
.bg .link-callback::after {
  background-image: url('../img/svg/arrow-w.svg');
}
.subtitle-pink {
  margin-bottom: 0.625vw;
  font-size: 0.9375vw;
  line-height: 1.1458vw;
  color: #C63067;
}
.section-title-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.8125vw;
}
.section-title-wrapper .section-title {
  margin-bottom: 0;
}
.section-title-wrapper .link,
.section-title-wrapper .link-callback,
.section-title-wrapper .link-region {
  align-self: center;
  margin-bottom: 0.5208vw;
}
.section-title {
  margin-bottom: 2.8125vw;
  font-weight: 300;
  font-size: 3.125vw;
  color: #161616;
}
@media (max-width: 755px) {
  .container {
    width: auto;
  }
}
@media (min-width: 1921px) {
  .container {
    width: 1520px;
  }
  .link,
  .link-callback,
  .link-region {
    font-size: 18px;
  }
  .link::before,
  .link-callback::before,
  .link-region::before,
  .link::after,
  .link-callback::after,
  .link-region::after {
    top: 0;
  }
  .link,
  .link-callback {
    padding-right: 39px;
  }
  .link::before,
  .link-callback::before {
    top: auto;
    bottom: -12px;
    height: 2px;
  }
  .link::after,
  .link-callback::after {
    top: 2px;
    width: 10px;
    height: 17px;
    right: 0px;
  }
  .link-region::before {
    top: -8px;
    left: -55px;
    width: 45px;
    height: 45px;
  }
  .bg .container {
    width: 1524px;
  }
  .bg .link-callback {
    padding-right: 29px;
  }
  .bg .link-callback::before {
    bottom: -8px;
  }
  .subtitle-pink {
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 22px;
  }
  .section-title-wrapper {
    margin-bottom: 54px;
  }
  .section-title-wrapper .link,
  .section-title-wrapper .link-callback,
  .section-title-wrapper .link-region {
    margin-bottom: 10px;
  }
  .section-title {
    margin-bottom: 54px;
    font-size: 60px;
  }
}
/*header*/
.header {
  position: absolute;
  z-index: 5;
  width: 100%;
  margin-top: 1.302vw;
}
.header .container {
  width: 80.31vw;
}
.bg.header * {
  color: #fff;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__phone-wrapper {
  font-family: 'Roboto', 'Arial', sans-serif;
  text-align: right;
}
.header__phone {
  display: inline-block;
  margin-bottom: 0.41666vw;
  font-size: 1.25vw;
  font-weight: 500;
}
.header__phone-text {
  font-size: 0.9375vw;
  font-weight: 300;
}
@media (min-width: 1921px) {
  .header {
    margin-top: 25px;
  }
  .header .container {
    width: 1542px;
  }
  .header__phone {
    margin-bottom: 8px;
    font-size: 24px;
  }
  .header__phone-text {
    font-size: 18px;
    font-weight: 300;
  }
}
.logo {
  position: relative;
  width: 9.479vw;
  margin-top: 0.15625vw;
  padding-left: 3.9583vw;
}
.logo::before {
  content: '';
  position: absolute;
  top: 0.3125vw;
  left: 0.5208vw;
  width: 2.6041vw;
  height: 3.5416vw;
  background-image: url('../img/logo/logo-blue.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.logo--empty {
  margin-top: 0;
  padding-left: 0;
}
.logo--empty::before {
  content: none;
}
.logo__title {
  margin-bottom: 0.3125vw;
  font-size: 1.5625vw;
  font-weight: 600;
}
.logo__title--less {
  margin-bottom: 0.625vw;
  font-size: 1.25vw;
}
.logo__description {
  margin-left: 0.10416vw;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 0.7812vw;
  font-weight: 300;
  line-height: 0.9375vw;
}
.logo__img {
  margin-bottom: 9px;
}
.logo__about {
  margin-top: 1.7187vw;
  font-weight: 300;
}
.logo__about--block {
  display: block;
}
.bg .logo::before {
  background-image: url('../img/logo/logo-white.svg');
}
@media (min-width: 1921px) {
  .logo {
    width: 182px;
    margin-top: 3px;
    padding-left: 76px;
  }
  .logo::before {
    top: 6px;
    left: 10px;
    width: 50px;
    height: 68px;
  }
  .logo--empty {
    margin-top: 0;
    padding-left: 0;
  }
  .logo__title {
    margin-bottom: 6px;
    font-size: 30px;
  }
  .logo__title--less {
    margin-bottom: 12px;
    font-size: 24px;
  }
  .logo__description {
    margin-left: 2px;
    font-size: 15px;
    line-height: 18px;
  }
  .logo__img {
    margin-bottom: 9px;
  }
  .logo__about {
    margin-top: 33px;
  }
}
.main-nav {
  width: 41.042vw;
  margin-left: 1.1458vw;
  font-size: 0.8333vw;
}
.main-nav__list {
  display: flex;
  flex-wrap: wrap;
}
.main-nav__item {
  margin-top: 0.26041vw;
}
.main-nav__item:not(:last-child) {
  margin-right: 1.4062vw;
}
@media (min-width: 1921px) {
  .main-nav {
    width: 788px;
    margin-left: 22px;
    font-size: 16px;
  }
  .main-nav__item {
    margin-top: 5px;
  }
  .main-nav__item:not(:last-child) {
    margin-right: 27px;
  }
}
.features {
  display: flex;
}
.features .link-callback {
  align-self: flex-end;
  margin-left: 4.427vw;
  margin-bottom: 1.4583vw;
}
.features--without-icon {
  display: flex;
  font-size: 1.0416vw;
  font-weight: 400;
  color: #262628;
}
.features__text-long {
  margin-top: 0.9375vw;
}
.features__text-big {
  margin-left: 0.20833vw;
  font-size: 2.0833vw;
  font-weight: 700;
}
.features__text-small {
  margin-top: 0.3125vw;
  margin-left: 0.20833vw;
}
.features__list {
  display: flex;
  justify-content: space-between;
  width: 27.604vw;
  font-size: 0.9375vw;
  font-weight: 300;
}
.features__item {
  position: relative;
  width: 9.271vw;
  padding-left: 2.6562vw;
  color: #262628;
}
.features__item::before {
  content: '';
  position: absolute;
  top: 0.20833vw;
  left: 0;
  width: 1.6666vw;
  height: 1.6666vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.features__item--program::before {
  background-image: url("../img/features/program-b.svg");
}
.features__item--call::before {
  left: 0.41666vw;
  background-image: url("../img/features/call-b.svg");
}
.features__item--mef::before,
.features__item--alpha::before {
  top: -0.5208vw;
  left: 0.10416vw;
  width: 2.0833vw;
  height: 2.0833vw;
  background-image: url("../img/features/research-b.svg");
}
.features__title {
  margin-bottom: 1.25vw;
  color: #3F5FD3;
}
.features__description {
  line-height: 1.1458vw;
  font-weight: 400;
}
.bg .features--without-icon {
  font-weight: 600;
  color: #fff;
}
.bg .features__title {
  color: #9BB1FF;
}
.bg .features__item {
  color: #fff;
}
.bg .features__item--program::before {
  background-image: url("../img/features/program-w.svg");
}
.bg .features__item--call::before {
  background-image: url("../img/features/call-w.svg");
}
@media (min-width: 1921px) {
  .features .link-callback {
    margin-left: 85px;
    margin-bottom: 28px;
  }
  .features--without-icon {
    font-size: 20px;
  }
  .features__text-long {
    margin-top: 18px;
  }
  .features__text-big {
    margin-left: 4px;
    font-size: 40px;
  }
  .features__text-small {
    margin-top: 6px;
    margin-left: 4px;
  }
  .features__list {
    width: 530px;
    font-size: 18px;
  }
  .features__item {
    width: 178px;
    padding-left: 51px;
  }
  .features__item::before {
    top: 4px;
    left: 0;
    width: 32px;
    height: 32px;
  }
  .features__item--call::before {
    left: 8px;
  }
  .features__item--mef::before,
  .features__item--alpha::before {
    top: -10px;
    left: 2px;
    width: 40px;
    height: 40px;
  }
  .features__title {
    margin-bottom: 24px;
  }
  .features__description {
    line-height: 22px;
  }
}
.main-info {
  margin-bottom: 9.167vw;
}
.bg.main-info {
  color: #fff;
  background-color: #253b88;
}
.main-info__bg-wrapper {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 48.646vw;
}
.main-info__bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-info__content {
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding-top: 16.51vw;
}
.main-info__features-text {
  margin-bottom: 2.2395vw;
}
.main-info__title {
  overflow: hidden;
  position: relative;
  margin-bottom: 1.7187vw;
  padding-left: 10.313vw;
  font-size: 5.469vw;
  font-family: 'Circe', 'Arial', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  white-space: nowrap;
}
.main-info__link-wrapper {
  display: flex;
  justify-content: space-between;
}
.main-info__features {
  position: relative;
  margin-bottom: 8.438vw;
}
.main-info__slogan-img-wrapper {
  position: absolute;
  right: 0px;
  width: 13.385vw;
  height: 13.229vw;
  margin-right: 17.188vw;
}
.main-info__slogan-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-info__btn-bottom {
  position: relative;
  display: flex;
  width: 4.7916vw;
  height: 4.7395vw;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.main-info__btn-bottom-img {
  border-radius: 50%;
}
.main-info__btn-bottom:active {
  padding: 0;
}
.main-info__btn-bottom::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.302vw;
  height: 2.0833vw;
  background-image: url('../img/main-info/btn-bottom-arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 755px) {
  .bg.main-info {
    height: 1540px;
  }
  .main-info__bg-wrapper {
    height: 1540px;
  }
}
@media (min-width: 1921px) {
  .main-info {
    margin-bottom: 176px;
  }
  .main-info__bg-wrapper {
    height: 934px;
  }
  .main-info__content {
    padding-top: 317px;
  }
  .main-info__features-text {
    margin-bottom: 43px;
  }
  .main-info__title {
    padding-left: 198px;
    margin-bottom: 33px;
    font-size: 105px;
  }
  .main-info__features {
    margin-bottom: 162px;
  }
  .main-info__slogan-img-wrapper {
    width: 257px;
    height: 254px;
    margin-right: 330px;
  }
  .main-info__btn-bottom {
    width: 92px;
    height: 91px;
  }
  .main-info__btn-bottom::before {
    width: 25px;
    height: 40px;
  }
}
@media (min-width: 1921px) and (min-width: 1930px) {
  .main-info__title {
    padding-left: 0;
  }
}
.program {
  margin-bottom: 2.2395vw;
}
.program__features-text {
  margin-bottom: 6.042vw;
}
.program__list {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 9.792vw;
  padding-left: 2.0833vw;
}
.program__list::after {
  content: '';
  position: absolute;
  bottom: -4.6875vw;
  left: 0;
  width: 100%;
  height: 0.05208vw;
  background-color: #E3E3E3;
}
.program__item {
  position: relative;
  width: 12.5vw;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 700;
}
.program__item:first-child {
  width: 11.458vw;
  margin-right: 0.41666vw;
}
.program__item:nth-child(2) {
  width: 11.458vw;
}
.program__item::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -2.5vw;
  left: -2.0833vw;
  width: 6.302vw;
  height: 6.406vw;
  border-radius: 50%;
}
.program__item:first-child::before,
.program__item:last-child::before {
  background-color: #DCE4FF;
}
.program__item:nth-child(2)::before,
.program__item:nth-last-child(2)::before {
  background-color: #BBCAFF;
}
.program__item:nth-child(3)::before {
  background-color: #9BB1FF;
}
.program__item-title {
  margin-bottom: 1.0416vw;
  font-size: 1.5625vw;
  line-height: 1.8229vw;
  color: #272727;
}
.program__wrapper {
  display: flex;
  position: relative;
}
.program__item-subtitle {
  font-size: 0.9375vw;
  color: #C4C4C4;
}
.program__title {
  margin-left: -0.15625vw;
  margin-bottom: 2.8125vw;
  font-weight: 300;
  font-size: 3.125vw;
  color: #161616;
}
.program__link {
  align-self: flex-end;
  margin-left: 4.427vw;
  margin-bottom: 1.4583vw;
}
.program__img-wrapper {
  position: relative;
  z-index: -1;
  top: -3.5937vw;
  right: 1.1979vw;
  width: 33.438vw;
  height: 22.344vw;
}
.program__img-first,
.program__img-second {
  position: absolute;
}
.program__img-first {
  clip-path: circle(37% at 48% 48%);
}
.program__img-second {
  clip-path: circle(11% at 88% 85%);
}
@media (min-width: 1921px) {
  .program {
    margin-bottom: 43px;
  }
  .program__features-text {
    margin-bottom: 116px;
  }
  .program__list {
    margin-bottom: 188px;
    padding-left: 40px;
  }
  .program__list::after {
    bottom: -90px;
    height: 1px;
  }
  .program__item {
    width: 240px;
  }
  .program__item:first-child {
    width: 220px;
    margin-right: 8px;
  }
  .program__item:nth-child(2) {
    width: 220px;
  }
  .program__item::before {
    top: -48px;
    left: -40px;
    width: 121px;
    height: 123px;
  }
  .program__item-title {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 35px;
  }
  .program__item-subtitle {
    font-size: 18px;
  }
  .program__title {
    margin-left: -3px;
    margin-bottom: 54px;
    font-size: 60px;
  }
  .program__link {
    margin-left: 85px;
    margin-bottom: 28px;
  }
  .program__img-wrapper {
    top: -69px;
    right: 23px;
    width: 642px;
    height: 429px;
  }
}
.banner {
  box-sizing: border-box;
  position: relative;
  height: 34.896vw;
  margin-bottom: 14.844vw;
  background-color: #fff;
}
.banner--margin-empty {
  margin-bottom: 0;
}
.banner__wrapper {
  position: relative;
  height: 100%;
}
.banner__bg-img-wrapper {
  position: absolute;
  bottom: 0;
}
.banner-img-motivation {
  left: 4.1666vw;
  width: 28.802vw;
  height: 32.552vw;
}
.banner-img-therapy {
  right: 0;
  width: 100%;
  height: 34.896vw;
}
.banner-img-transport {
  right: 0;
  width: 45.938vw;
  height: 28.75vw;
}
.banner__bg-img,
.banner__slogan-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner__main-wrapper {
  padding-top: 7.708vw;
  padding-left: 0.41666vw;
}
.banner__main-wrapper--padding-left {
  padding-left: 32.188vw;
}
.banner__main-wrapper--padding-top {
  padding-top: 10.781vw;
}
.banner-icon {
  position: relative;
}
.banner-icon--blue-therapy {
  padding-left: 3.75vw;
}
.banner-icon--blue-transport {
  padding-left: 2.9166vw;
}
.banner-icon::before,
.banner-icon::after {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner-icon--round-one::after {
  top: -4.427vw;
  right: -5.99vw;
  width: 8.385vw;
  height: 8.594vw;
  background-image: url('../img/banner/banner1.2.png');
}
.banner-icon--round-two::after {
  top: -5.99vw;
  right: -2.3437vw;
  width: 7.917vw;
  height: 8.021vw;
  background-image: url('../img/banner/banner3.2.png');
}
.banner-icon--blue-therapy::before {
  top: -1.1979vw;
  left: 0px;
  width: 2.8125vw;
  height: 2.8125vw;
  background-image: url('../img/banner/banner2.3.svg');
}
.banner-icon--blue-transport::before {
  top: -0.5208vw;
  left: -0.5208vw;
  width: 2.8645vw;
  height: 1.8229vw;
  background-image: url('../img/banner/banner3.3.svg');
}
.banner__subtitle {
  position: relative;
  display: inline-block;
  margin-bottom: 2.3437vw;
  font-family: 'Circe', 'Arial', sans-serif;
  font-size: 1.0416vw;
  font-weight: 400;
}
.banner__subtitle--big {
  font-size: 2.0833vw;
}
.banner__title {
  width: 41.667vw;
  margin-left: -0.36458vw;
  margin-bottom: 1.4062vw;
  font-family: 'Circe', 'Arial', sans-serif;
  font-weight: 200;
  font-size: 4.6875vw;
  line-height: 4.6875vw;
  text-transform: uppercase;
}
.banner__title--long {
  width: 49.479vw;
}
.banner__description {
  width: 40.104vw;
  font-family: 'Circe', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 0.9375vw;
  line-height: 1.25vw;
}
.banner__description:last-of-type {
  margin-bottom: 1.7708vw;
}
.banner__link-callback {
  width: 18.542vw;
  padding-right: 0;
}
.banner__slogan-img-wrapper {
  position: absolute;
  top: 5.208vw;
  right: 12.5vw;
  width: 13.073vw;
  height: 13.125vw;
}
@media (min-width: 1921px) {
  .banner {
    height: 670px;
    margin-bottom: 285px;
  }
  .banner--margin-empty {
    margin-bottom: 0;
  }
  .banner-img-motivation {
    left: 80px;
    width: 553px;
    height: 625px;
  }
  .banner-img-therapy {
    height: 670px;
  }
  .banner-img-transport {
    width: 882px;
    height: 552px;
  }
  .banner__main-wrapper {
    padding-top: 148px;
    padding-left: 8px;
  }
  .banner__main-wrapper--padding-left {
    padding-left: 618px;
  }
  .banner__main-wrapper--padding-top {
    padding-top: 207px;
  }
  .banner-icon--blue-therapy {
    padding-left: 72px;
  }
  .banner-icon--blue-transport {
    padding-left: 56px;
  }
  .banner-icon--round-one::after {
    top: -85px;
    right: -115px;
    width: 161px;
    height: 165px;
  }
  .banner-icon--round-two::after {
    top: -115px;
    right: -45px;
    width: 152px;
    height: 154px;
  }
  .banner-icon--blue-therapy::before {
    top: -23px;
    width: 54px;
    height: 54px;
  }
  .banner-icon--blue-transport::before {
    top: -10px;
    left: -10px;
    width: 55px;
    height: 35px;
  }
  .banner__subtitle {
    margin-bottom: 45px;
    font-size: 20px;
  }
  .banner__subtitle-big {
    font-size: 40px;
  }
  .banner__title {
    width: 800px;
    margin-left: -7px;
    margin-bottom: 27px;
    font-size: 90px;
    line-height: 90px;
  }
  .banner__title--long {
    width: 950px;
  }
  .banner__description {
    width: 770px;
    font-size: 18px;
    line-height: 24px;
  }
  .banner__description:last-of-type {
    margin-bottom: 34px;
  }
  .banner__link-callback {
    width: 356px;
    padding-right: 0;
  }
  .banner__slogan-img-wrapper {
    top: 100px;
    right: 240px;
    width: 251px;
    height: 252px;
  }
}
.research {
  display: flex;
  margin-bottom: 13.542vw;
}
.research__column-left {
  width: 24.74vw;
}
.research__subtitle {
  margin-bottom: 0.9375vw;
}
.research__title {
  line-height: 3.125vw;
}
.research__description {
  margin-bottom: 1.302vw;
  font-size: 0.9375vw;
  font-weight: 300;
  line-height: 1.1458vw;
  color: #000;
}
.research__description:last-of-type {
  margin-bottom: 3.6979vw;
}
.research__data {
  display: block;
}
.research__features {
  margin-top: 0.5208vw;
  margin-left: 7.292vw;
}
.research__features .features__list {
  width: 26.458vw;
}
.research__features .features__item {
  width: 7.813vw;
}
.research__chart-wrapper {
  width: 49.01vw;
  height: 20.573vw;
  margin-top: 0.46875vw;
  margin-left: 1.5625vw;
}
.research__chart-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.research__chart-desctiption {
  display: none;
  margin-top: 1.0416vw;
  font-weight: 300;
  font-size: 0.9375vw;
  text-align: center;
}
@media (min-width: 1921px) {
  .research {
    margin-bottom: 260px;
  }
  .research__column-left {
    width: 475px;
  }
  .research__subtitle {
    margin-bottom: 18px;
  }
  .research__title {
    line-height: 60px;
  }
  .research__description {
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 22px;
  }
  .research__description:last-of-type {
    margin-bottom: 71px;
  }
  .research__features {
    margin-top: 10px;
    margin-left: 140px;
  }
  .research__features .features__list {
    width: 508px;
  }
  .research__features .features__item {
    width: 150px;
  }
  .research__chart-wrapper {
    width: 941px;
    height: 395px;
    margin-top: 9px;
    margin-left: 30px;
  }
  .research__chart-desctiption {
    top: 20px;
    font-size: 18px;
  }
}
.rehab-swiper {
  margin-bottom: 16.146vw;
}
.rehab-swiper-clinics {
  margin-bottom: 8.594vw;
}
.rehab-swiper__main-title-wrapper {
  margin-bottom: 2.5vw;
}
.rehab-swiper__main-title {
  margin-bottom: 0;
}
.rehab-swiper__link {
  width: 14.792vw;
  padding-right: 0;
}
.rehab-swiper__wrapper {
  display: flex;
}
.rehab-swiper__slide {
  display: flex;
  flex-direction: column;
  width: 18.802vw;
  margin-right: 1.3541vw;
}
.rehab-swiper__slide:nth-child(4n) {
  margin-right: 0;
}
.rehab-swiper__img-wrapper {
  width: 18.802vw;
  height: 15.521vw;
}
.rehab-swiper__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.rehab-swiper__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.25vw;
}
.rehab-swiper__price {
  margin-bottom: 0.5208vw;
  font-size: 0.8333vw;
}
.rehab-swiper__price--bold {
  font-weight: 700;
}
.rehab-swiper__location {
  margin-bottom: 0.8854vw;
  font-size: 1.0416vw;
  line-height: 1.5625vw;
}
.rehab-swiper__comfort-lvl {
  position: relative;
  padding-left: 14px;
  font-weight: 600;
  font-size: 14px;
}
.rehab-swiper__comfort-lvl::before {
  content: '';
  position: absolute;
  top: 0;
  left: -5px;
  width: 14px;
  height: 14px;
  background-image: url('../img/svg/star-blue.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 1921px) {
  .rehab-swiper {
    margin-bottom: 310px;
  }
  .rehab-swiper-clinics {
    margin-bottom: 165px;
  }
  .rehab-swiper__main-title-wrapper {
    margin-bottom: 48px;
  }
  .rehab-swiper__main-title {
    margin-bottom: 0;
  }
  .rehab-swiper__link {
    width: 284px;
    padding-right: 0;
  }
  .rehab-swiper__slide {
    width: 361px;
    margin-right: 26px;
  }
  .rehab-swiper__slide:nth-child(4n) {
    margin-right: 0;
  }
  .rehab-swiper__img-wrapper {
    width: 361px;
    height: 298px;
  }
  .rehab-swiper__text-wrapper {
    padding-top: 24px;
  }
  .rehab-swiper__price {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .rehab-swiper__location {
    margin-bottom: 17px;
    font-size: 20px;
    line-height: 30px;
  }
  .rehab-swiper__comfort-lvl {
    padding-left: 14px;
    font-size: 14px;
  }
  .rehab-swiper__comfort-lvl::before {
    left: -5px;
    width: 14px;
    height: 14px;
  }
}
.program-swiper {
  margin-bottom: 16.146vw;
}
.program-swiper .swiper-container--progressbar {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
.program-swiper .swiper-container--progressbar .swiper-wrapper {
  margin-bottom: 3.3333vw;
}
.program-swiper .swiper-container--pagination {
  position: relative;
  overflow: visible;
}
.program-swiper .swiper-container--pagination .swiper-wrapper {
  display: none;
}
.program-swiper .program-progressbar {
  top: auto;
  bottom: 0;
  left: 36.5%;
  transform: translateX(-36.5%);
  width: 67.916vw;
  border-radius: 9px;
  background-color: #E2E2E2;
  overflow: hidden;
}
.program-swiper .swiper-pagination-progressbar-fill {
  background-color: #3F5FD3;
}
.program-swiper .program-pagination {
  position: absolute;
  z-index: 10;
  left: auto;
  right: 0.5208vw;
  bottom: -0.5208vw;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 6.25vw;
}
.program-swiper .swiper-pagination-bullet {
  width: auto;
  height: auto;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 1.1458vw;
  color: #D7D7D7;
  opacity: 1;
  border: none;
  background: none;
}
.program-swiper .swiper-pagination-bullet-active {
  font-size: 1.7187vw;
  color: #272727;
}
.program-swiper__main-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4.8437vw;
}
.program-swiper__main-title {
  margin-bottom: 1.1458vw;
}
.program-swiper__main-description {
  margin-bottom: 1.875vw;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 0.9375vw;
}
.program-swiper__link {
  padding-right: 3.9062vw;
  font-size: 0.9375vw;
}
.program-swiper__slide {
  position: relative;
  display: block;
  height: 23.698vw;
  background-color: #263d8d;
}
.program-swiper__img-wrapper {
  position: absolute;
  width: 100%;
  height: 23.698vw;
}
.program-swiper__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.program-swiper__text-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 700;
  color: #fff;
}
.program-swiper__steps-count {
  margin-bottom: 0.26041vw;
  font-size: 0.9375vw;
}
.program-swiper__slide-title {
  font-size: 1.8229vw;
}
@media (min-width: 1921px) {
  .program-swiper {
    margin-bottom: 310px;
  }
  .program-swiper .swiper-container--progressbar .swiper-wrapper {
    margin-bottom: 64px;
  }
  .program-swiper .program-progressbar {
    width: 1304px;
  }
  .program-swiper .program-pagination {
    right: 10px;
    bottom: -10px;
    width: 120px;
  }
  .program-swiper .swiper-pagination-bullet {
    font-size: 22px;
  }
  .program-swiper .swiper-pagination-bullet-active {
    font-size: 33px;
  }
  .program-swiper__main-title-wrapper {
    margin-bottom: 93px;
  }
  .program-swiper__main-title {
    margin-bottom: 22px;
  }
  .program-swiper__main-description {
    margin-bottom: 36px;
    font-size: 18px;
  }
  .program-swiper__link {
    padding-right: 75px;
    font-size: 18px;
  }
  .program-swiper__slide {
    height: 455px;
  }
  .program-swiper__img-wrapper {
    height: 455px;
  }
  .program-swiper__steps-count {
    margin-bottom: 5px;
    font-size: 18px;
  }
  .program-swiper__slide-title {
    font-size: 35px;
  }
}
.banner-info {
  margin-bottom: 6.875vw;
  padding-top: 9.115vw;
  padding-bottom: 8.594vw;
  background-color: #fff;
}
.banner-info img {
  border-radius: 15px;
}
.banner-info__row-top {
  display: flex;
  padding-bottom: 2.6041vw;
  border-bottom: 0.05208vw solid #EAEAEA;
}
.banner-info__main-img-wrapper {
  width: 14.792vw;
  min-height: 19.115vw;
}
.banner-info__main-img,
.banner-info__logo-img,
.banner-info__block-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-info__text-top-wrapper {
  width: 40.625vw;
  margin-left: 1.1979vw;
  padding-top: 1.875vw;
}
.banner-info__subtitle {
  margin-bottom: 1.0416vw;
  padding-left: 0.3125vw;
}
.banner-info__title {
  margin-bottom: 2.1875vw;
  line-height: 3.75vw;
}
.banner-info__description {
  margin-bottom: 1.1458vw;
  font-size: 0.9375vw;
  font-weight: 300;
  line-height: 1.1458vw;
}
.banner-info__description:last-of-type {
  margin-bottom: 1.4583vw;
}
.banner-info__logo-img-wrapper {
  position: relative;
  align-self: center;
  width: 13.229vw;
  height: 13.229vw;
  margin-top: 1.5625vw;
  margin-left: auto;
  margin-right: 2.7604vw;
}
.banner-info__logo-img-wrapper::before {
  content: '';
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3.0208vw;
  height: 3.0208vw;
  background-image: url('../img/banner-info/skull.svg');
}
.banner-info__row-bottom {
  display: flex;
}
.banner-info__text-bottom-wrapper {
  width: 27.083vw;
  margin-left: -0.15625vw;
  padding-top: 2.0833vw;
}
.banner-info__article-title {
  margin-bottom: 1.7187vw;
  font-size: 1.5625vw;
  font-weight: 400;
}
.banner-info__link-callback {
  padding-right: 4.0104vw;
}
.banner-info__block-images {
  display: flex;
  justify-content: space-between;
  width: 47.188vw;
  margin-left: auto;
  padding-top: 1.25vw;
  padding-left: 0.677vw;
  border-left: 0.05208vw solid #EAEAEA;
}
.banner-info__block-item {
  margin: 0;
}
.banner-info__block-img-wrapper {
  width: 14.948vw;
  height: 17.813vw;
}
.banner-info__block-description {
  margin-top: 1.302vw;
  font-size: 0.8333vw;
  text-align: center;
  color: #777;
}
.banner-info__block-description--black {
  display: block;
  font-size: 0.9375vw;
  color: #000;
}
@media (min-width: 1921px) {
  .banner-info {
    margin-bottom: 132px;
    padding-top: 175px;
    padding-bottom: 165px;
  }
  .banner-info__row-top {
    padding-bottom: 50px;
    border-bottom: 1px solid #EAEAEA;
  }
  .banner-info__main-img-wrapper {
    width: 284px;
    min-height: 367px;
  }
  .banner-info__text-top-wrapper {
    width: 780px;
    margin-left: 23px;
    padding-top: 36px;
  }
  .banner-info__subtitle {
    margin-bottom: 20px;
    padding-left: 6px;
  }
  .banner-info__title {
    margin-bottom: 42px;
    line-height: 72px;
  }
  .banner-info__description {
    margin-bottom: 22px;
    font-size: 18px;
    line-height: 22px;
  }
  .banner-info__description:last-of-type {
    margin-bottom: 28px;
  }
  .banner-info__logo-img-wrapper {
    width: 254px;
    height: 254px;
    margin-top: 30px;
    margin-right: 53px;
  }
  .banner-info__logo-img-wrapper::before {
    width: 58px;
    height: 58px;
  }
  .banner-info__text-bottom-wrapper {
    width: 520px;
    margin-left: -3px;
    padding-top: 40px;
  }
  .banner-info__article-title {
    margin-bottom: 33px;
    font-size: 30px;
  }
  .banner-info__link-callback {
    padding-right: 77px;
  }
  .banner-info__block-images {
    width: 906px;
    padding-top: 24px;
    padding-left: 13px;
    border-left: 1px solid #EAEAEA;
  }
  .banner-info__block-img-wrapper {
    width: 287px;
    height: 342px;
  }
  .banner-info__block-description {
    margin-top: 25px;
    font-size: 16px;
  }
  .banner-info__block-description--black {
    font-size: 18px;
  }
}
.price {
  margin-bottom: 3.3333vw;
}
.price__main-title-wrapper {
  margin-bottom: 2.2916vw;
}
.price__link-callback {
  width: 14.792vw;
  padding-right: 0;
}
.price__wrapper {
  display: flex;
  flex-wrap: wrap;
}
.price__item {
  position: relative;
  width: 18.75vw;
  height: 24.375vw;
  margin-right: 1.3541vw;
  margin-bottom: 3.9583vw;
}
.price__item:nth-child(4n) {
  margin-right: 0px;
}
.price__bg-img-wrapper {
  position: absolute;
  z-index: -1;
  width: 18.75vw;
  height: 24.375vw;
}
.price__bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.price__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 17.552vw;
  font-size: 0.8333vw;
}
.price__cost {
  margin-bottom: 0.9375vw;
  font-weight: 700;
}
.price__cost--normal {
  font-weight: 400;
}
.price__title {
  margin-bottom: 0.8854vw;
  font-size: 1.25vw;
  font-weight: 400;
}
.price__description {
  width: 15.833vw;
  line-height: 0.9895vw;
  text-align: center;
}
@media (min-width: 1921px) {
  .price {
    margin-bottom: 64px;
  }
  .price__main-title-wrapper {
    margin-bottom: 44px;
  }
  .price__link-callback {
    width: 284px;
    padding-right: 0;
  }
  .price__item {
    width: 360px;
    height: 468px;
    margin-right: 26px;
    margin-bottom: 76px;
  }
  .price__bg-img-wrapper {
    width: 360px;
    height: 468px;
  }
  .price__text-wrapper {
    margin-top: 337px;
    font-size: 16px;
  }
  .price__cost {
    margin-bottom: 18px;
  }
  .price__title {
    margin-bottom: 17px;
    font-size: 24px;
  }
  .price__description {
    width: 304px;
    line-height: 19px;
  }
}
.about {
  margin-bottom: 8.333vw;
}
.about__title {
  width: 34.635vw;
  line-height: 3.125vw;
}
.about__wrapper {
  display: flex;
}
.about__column-left {
  width: 10.417vw;
  padding-top: 1.4583vw;
}
.about__column-right {
  width: 51.563vw;
  margin-left: 5.625vw;
  padding-top: 0.9895vw;
}
.about__description {
  margin-bottom: 1.25vw;
  font-size: 1.0416vw;
  font-weight: 300;
  line-height: 1.25vw;
}
@media (min-width: 1921px) {
  .about {
    margin-bottom: 160px;
  }
  .about__title {
    width: 665px;
    line-height: 60px;
  }
  .about__column-left {
    width: 200px;
    padding-top: 28px;
  }
  .about__column-right {
    width: 990px;
    margin-left: 108px;
    padding-top: 19px;
  }
  .about__description {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 24px;
  }
}
.footer {
  padding-top: 4.5833vw;
  padding-bottom: 4.5833vw;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
}
.footer__list--right {
  text-align: right;
}
.footer__item,
.footer__link {
  font-size: 0.8333vw;
  font-weight: 300;
  color: #161616;
}
.footer__item {
  margin-bottom: 1.0416vw;
}
.footer__item--bold {
  font-weight: 400;
  text-transform: uppercase;
}
.footer__center-column {
  margin-left: 2.6041vw;
}
.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  margin-bottom: 2.1875vw;
  padding-top: 0.20833vw;
  text-align: center;
}
.footer__link-callback {
  margin-bottom: 2.6041vw;
}
.footer__phone-wrapper {
  font-family: 'Roboto', 'Arial', sans-serif;
  text-align: center;
}
.footer__phone {
  display: inline-block;
  margin-bottom: 0.41666vw;
  font-size: 1.25vw;
  font-weight: 500;
}
.footer__phone-text {
  font-size: 0.9375vw;
  font-weight: 300;
}
@media (min-width: 1921px) {
  .footer {
    padding-top: 88px;
    padding-bottom: 88px;
  }
  .footer__item,
  .footer__link {
    font-size: 16px;
  }
  .footer__item {
    margin-bottom: 20px;
  }
  .footer__center-column {
    margin-left: 50px;
  }
  .footer__logo {
    width: auto;
    margin-bottom: 42px;
    padding-top: 4px;
  }
  .footer__link-callback {
    margin-bottom: 50px;
  }
  .footer__phone {
    margin-bottom: 8px;
    font-size: 24px;
  }
  .footer__phone-text {
    font-size: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
