@font-face {
  font-display: swap;
  font-family: Circe;
  src: local("Circe"),
       local("Circe Regular"),
       local("Circe-Regular"),
       url("../fonts/Circe/regular/Circe-Regular.woff2") format("woff2"),
       url("../fonts/Circe/regular/Circe-Regular.woff") format("woff"),
       url("../fonts/Circe/regular/Circe-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: Circe;
  src: local("Circe Bold"),
       local("Circe-Bold"),
       url("../fonts/Circe/bold/Circe-Bold.woff2") format("woff2"),
       url("../fonts/Circe/bold/Circe-Bold.woff") format("woff"),
       url("../fonts/Circe/bold/Circe-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: Circe;
  src: local("Circe Light"),
       local("Circe-Light"),
       url("../fonts/Circe/light/Circe-Light.woff2") format("woff2"),
       url("../fonts/Circe/light/Circe-Light.woff") format("woff"),
       url("../fonts/Circe/light/Circe-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: GothamPro;
  src: local("GothamPro"),
       local("Gotham Pro"),
       url("../fonts/GothamPro/regular/GothamPro.woff2") format("woff2"),
       url("../fonts/GothamPro/regular/GothamPro.woff") format("woff"),
       url("../fonts/GothamPro/regular/GothamPro.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: GothamPro;
  src: local("Gotham Pro Bold"),
       local("Gotham Pro-Bold"),
       url("../fonts/GothamPro/bold/GothamPro-Bold.woff2") format("woff2"),
       url("../fonts/GothamPro/bold/GothamPro-Bold.woff") format("woff"),
       url("../fonts/GothamPro/bold/GothamPro-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: GothamPro;
  src: local("Gotham Pro Light"),
       local("Gotham Pro-Light"),
       url("../fonts/GothamPro/ligth/GothamPro-Light.woff2") format("woff2"),
       url("../fonts/GothamPro/ligth/GothamPro-Light.woff") format("woff"),
       url("../fonts/GothamPro/ligth/GothamPro-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}
