// 1 rem = 16px * 62.5% / 100 = 10px
// html rem base font-size = 62.5%

html {
  font-size: 62.5%;
}

@media (max-width: 1808px) {
  html {
    font-size: 54%;
    // 113 em
  }
}

@media (max-width: 1728px) {
  html {
    font-size: 52%;
    // 108 em
  }
}

@media (max-width: 1680px) {
  html {
    font-size: 50%;
    // 1rem = 8px ?
    // 105 em
  }
}

@media (max-width: 1536px) {
  html {
    font-size: 48%;
    // 96 em
  }
}

@media (max-width: 1440px) {
  html {
    font-size: 46.875%;
    // 90 em
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 41.667%;
    // 80 em
  }
}

@media (max-width: 1070px) {
  html {
    font-size: 33.333%;
  }
}

@media (max-width: 850px) {
  html {
    font-size: 29%;
  }
}

@media (max-width: 750px) {
  html {
    // font-size: 62.5%;
    font-size: 5px;
  }
}

// @media (max-width: 390px) {
//   html {
//     font-size: 50%;
//   }
// }

@media (max-width: 340px) {
  html {
    font-size: 4px;
  }
}
