body {
  .mp-reset(0,0);

  font-family: @myriad;
  font-weight: 400;

  color: #000;
  // background-color: #e5e5e5;
  background-color: #f9f9f9;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  // color: #747474;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  .reset-list();
}

// h1,
// h2,
// h3 {
//   color: #2f2f2f;
// }

h1,
h2,
h3,
h4,
p {
  .mp-reset(0,0);
}

// button,
// input {
//   font-family: @circe;
// }

.noscroll {
  overflow: hidden !important;
  height: 100% !important;
}

.overlay {
  display: none;

  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;

  opacity: 1;
  visibility: visible;

  width: 100%;
  height: 100%;

  background-color: rgba(0,0,0,.5);
}

.active.overlay {
  display: block;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  // width: 79.37vw; //1524px;
  width: 79.1vw; //1520px;
  // width: 78.8vw;
  .margin-inline(@a);
}

// .double-main-wrapper {
//   display: flex;
//   justify-content: space-between;
// }

// .double-column-wrapper {
//   // width: 63.02vw; //1210px
//   width: 62vw; // 1190 px ~~~~
//   padding-top: @d20px;
// }

// .double-aside-wrapper {
//   width: @d382px;
//   padding-top: @d20px;
// }

// .hidden-mobile-block {
//   display: none;
// }

.link-callback,
.link-region {
  position: relative;
  display: inline-block;

  font-family: @myriad;
  font-size: @d18px;
  font-weight: 400;
  color: #161616;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.link-callback {
  padding-right: @d39px;
  &::before {
    top: @a;
    bottom: -@d12px;
    width: 100%;
    height: @d1px;
    background-color: #9BB1FF;
  }
  &::after {
    top: @d2px;
    width: @d10px;
    height: @d17px;
    right: 0px;

    background-image: url('../img/svg/arrow-b.svg');
  }
}

.link-region {
  text-decoration-line: underline;
  &::before {
    top: -@d8px;
    left: -@d55px;
    width: @d45px;
    height: @d45px;
    background-image: url('../img/svg/region-point-b.svg');
  }
}

.bg {
  .container {
    width: 79.375vw; //1524px;
  }
  .link-callback,
  .link-region {
    font-family: @roboto;
    font-weight: 700;
    color: #fff;
  }
  .link-callback {
    padding-right: @d29px;
    &::before {
      bottom: -@d8px;
      background-color: #fff;
    }
    &::after {
      background-image: url('../img/svg/arrow-w.svg');
    }
  }
}

.subtitle-pink {
  margin-bottom: @d12px;
  font-size: @d18px;
  line-height: @d22px;

  color: #C63067;
}

.section-title {
  margin-bottom: @d54px;

  font-weight: 300;
  font-size: @d60px;

  color: #161616;
}

@media (max-width: @mobile-width) {
  .container {
    width: auto;
//     .padding-inline(@m35px);
  }
//   .double-column-wrapper {
//     width: @m678px;
//   }
//   .double-aside-wrapper {
//     display: none;
//   }
//   .hidden-desktop-block {
//     display: none;
//   }
//   .hidden-mobile-block {
//     display: block;
//   }
}

@media (min-width: @max-desktop-width) {
  .container {
    width: 1520px;
  }

  .link-callback,
  .link-region {
    font-size: 18px;
    &::before,
    &::after {
      top: 0;
    }
  }

  .link-callback {
    padding-right: 39px;
    &::before {
      top: @a;
      bottom: -12px;
      height: 1px;
    }
    &::after {
      top: 2px;
      width: 10px;
      height: 17px;
      right: 0px;
    }
  }

  .link-region {
    &::before {
      top: -8px;
      left: -55px;
      width: 45px;
      height: 45px;
    }
  }

  .bg {
    .container {
      width: 1524px;
    }
    .link-callback {
      padding-right: 29px;
      &::before {
        bottom: -8px;
      }
    }
  }

  .subtitle-pink {
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 22px;
  }

  .section-title {
    margin-bottom: 54px;
    font-size: 60px;
  }
//   .double-column-wrapper {
//     // width: 1210px;
//     width: 1190px;
//     padding-top: 20px;
//   }
//   .double-aside-wrapper {
//     width: 382px;
//     padding-top: 20px;
//   }
}
