body {
  .mp-reset(0,0);

  font-family: @myriad;
  font-weight: 400;

  color: #000;
  background-color: #e5e5e5;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  // color: #747474;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  .reset-list();
}

// h1,
// h2,
// h3 {
//   color: #2f2f2f;
// }

h1,
h2,
h3,
h4,
p {
  .mp-reset(0,0);
}

// button,
// input {
//   font-family: @circe;
// }

.noscroll {
  overflow: hidden !important;
  height: 100% !important;
}

.overlay {
  display: none;

  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;

  opacity: 1;
  visibility: visible;

  width: 100%;
  height: 100%;

  background-color: rgba(0,0,0,.5);
}

.active.overlay {
  display: block;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  // width: 1542px;
  width: 1524px;
  .margin-inline(@a);
}

// .double-main-wrapper {
//   display: flex;
//   justify-content: space-between;
// }

// .double-column-wrapper {
//   // width: 63.02vw; //1210px
//   width: 62vw; // 1190 px ~~~~
//   padding-top: @d20px;
// }

// .double-aside-wrapper {
//   width: @d382px;
//   padding-top: @d20px;
// }

// .hidden-mobile-block {
//   display: none;
// }

.btn {
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  // width: @d243px;
  // height: @d55px;

  text-align: center;
  text-transform: uppercase;

  // font-size: 0.9375vw;
  // font-weight: 400;
  // letter-spacing: 0.09px;

  // color: @white;
  // background-color: #14b250;

  border: none;
  border-radius: 19px;
}

.btn:active {
  padding: 0;
}

// @media (max-width: @mobile-width) {
//   .container {
//     width: auto;
//     .padding-inline(@m35px);
//   }
//   .double-column-wrapper {
//     width: @m678px;
//   }
//   .double-aside-wrapper {
//     display: none;
//   }
//   .hidden-desktop-block {
//     display: none;
//   }
//   .hidden-mobile-block {
//     display: block;
//   }
//   .btn {
//     .mn();
//     width: 36vw;
//     height: @m66px;
//     font-size: @m27px;
//     border-radius: 38px;
//   }
// }

// @media (min-width: @max-desktop-width) {
//   .double-column-wrapper {
//     // width: 1210px;
//     width: 1190px;
//     padding-top: 20px;
//   }
//   .double-aside-wrapper {
//     width: 382px;
//     padding-top: 20px;
//   }
//   .btn {
//     width: 243px;
//     height: 55px;
//     font-size: 18px;
//   }
// }
