.article__main-wrap {
  h3 {
    margin-bottom: 28px;
    font-weight: 400;
    font-size: 30px;
    line-height: 24px;
  }

  p {
    margin-bottom: 24px;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
  }

  h3+p:last-of-type {
      outline: 1px solid blue;
    }
}

.article__block {
  margin-bottom: 44px;
  &:last-of-type {
    // margin-bottom: 80px;
  }
}

.article__img-wrap {
  width: 100%;
  height: 560px;
  margin: 0;
  margin-top: 83px;
  margin-bottom: 71px;
}

.article__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article__date-block {
  display: flex;
  align-items: center;

  padding-top: 45px;
  padding-bottom: 45px;
  border-top: 1px solid #D7D7D7;
  border-bottom: 1px solid #D7D7D7;
}

.article__column {
  width: 33.33%;

}

.article__rating-block {
}

.article__desc {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 18px;
}

.article__date-wrap {
}

.article__datetime {
}

.article__review-list {
  display: flex;
  padding-top: 48px;
  padding-bottom: 57px;
  border-bottom: 1px solid #D7D7D7;
}

.article__review-item {
}

.article__review-name {
  display: inline-block;
  margin-top: 20px;

  font-weight: 300;
  font-size: 25px;
  text-decoration: underline;
}



