.banner {
  box-sizing: border-box;
  position: relative;
  height: 67rem;

  margin-bottom: 28.5rem;
  padding-top: 14.8rem;

  background-color: #fff;

  &-therapy {
    // margin-bottom: @d190px;
  }

  &-transport {
    padding-top: 20.7rem;
  }

  &-diagnostics {
    .banner__subtitle .banner-icon::after {
      content: none;
    }
    .banner__description {
      width: 68rem;
    }
  }

  &--mb0 {
    margin-bottom: 0;
  }

  &--mb150 {
    margin-bottom: 15rem;
  }

  &--mb190 {
    margin-bottom: 19rem;
  }
}

.baza-znaniy-list {
  .banner:last-of-type {
    margin-bottom: 0;
  }
}

.banner__wrapper {
  position: relative;
  height: 100%;
}

.banner__bg-img-wrapper {
  position: absolute;
  bottom: 0;
}

.banner-img {
  &-motivation {
    left: 8rem;
    width: 55.3rem;
    height: 62.5rem;
  }

  &-therapy {
    right: 0;
    width: 100%;
    height: 67rem;
  }

  &-transport {
    right: 0;
    width: 88.2rem;
    height: 55.2rem;
  }

  &-diagnostics {
    left: 0;
    // width: 56.25vw; // 1080px;
    width: 108rem;
    height: 67rem;
  }
}

.banner__bg-img,
.banner__slogan-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner__main-wrapper {
  padding-left: 0.8rem;
  &--padding-left {
    padding-left: 61.8rem;
  }
}

.banner-icon {
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &-blue-therapy {
    padding-left: 7.2rem;
    &::before {
      top: -2.3rem;
      left: 0px;
      width: 5.4rem;
      height: 5.4rem;

      background-image: url('../img/bnbg/b2.2.svg');
    }
  }

  &-blue-transport {
    padding-left: 5.6rem;
    &::before {
      top: -1rem;
      left: -1rem;

      width: 5.5rem;
      height: 3.5rem;

      background-image: url('../img/bnbg/b3.2.svg');
    }
  }

  &-round-one::after {
    top: -8.5rem;
    right: -11.5rem;

    width: 16.1rem;
    height: 16.5rem;

    background-image: url('../img/bnbg/b1.1.png');
  }

  &-round-two::after {
    top: -11.5rem;
    right: -4.5rem;

    width: 15.2rem;
    height: 15.4rem;

    background-image: url('../img/bnbg/b3.1.png');
  }
}

.banner__subtitle {
  position: relative;
  display: inline-block;
  margin-bottom: 4.5rem;

  font-family: @circe;
  font-size: 2rem;
  font-weight: 400;

  &--big {
    font-size: 4rem;
  }
}

.banner__title {
  width: 80rem;
  margin-left: -0.7rem;
  margin-bottom: 2.7rem;

  font-family: @circe;
  font-weight: 200;
  font-size: 9rem;
  line-height: 9rem;
  text-transform: uppercase;
  &--w660 {
    width: 66rem;
  }
  &--w950 {
    width: 95rem;
  }
}

.banner__description {
  width: 77rem;
  font-family: @circe;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
  &:last-of-type {
    margin-bottom: 3.4rem;
  }
}

.banner__link {
  width: 35.6rem;
  padding-right: 0;
}

.banner__slogan-img-wrapper {
  position: absolute;
  top: 10rem;
  right: 24rem;
  width: 25.1rem;
  height: 25.2rem;
}

@media (max-width: @mobile-width) {
  .banner {
    height: 182.13vw; // 1366px;

    display: flex;
    flex-direction: column-reverse;
    height: auto;
    overflow: hidden;

    margin-bottom: @m192px;
    padding-top: @m148px;
    &-transport {
      .banner__title {
        // hyphens: auto;
        word-break: break-word;
      }
      .banner__title.banner-icon::after {
        content: none;
      }
      .banner__link {
        width: @m355px;
      }
    }
    &-diagnostics {
      .banner-icon-round-one::after {
        right: -@m150px;
      }
      .banner__subtitle .banner-icon::after {
        content: '';
      }
      .banner__title .banner-icon::after {
        content: none;
      }
      .banner__description {
        width: @a;
      }
    }
    &--mb0 {
      margin-bottom: 0;
    }
    &--mb150 {
      // margin-bottom: @d150px;
    }
    &--mb190 {
      margin-bottom: @m152px;
    }
  }

  .banner-img {
    &-motivation {
      left: @m170px;
      width: @m490px;
      height: @m554px;
    }
    &-therapy {
      right: 0;
      width: 100%;
      height: @m670px;
      img {
        object-position: 86.7%;
      }
    }
    &-transport {
      // width: @m750px;
      width: 100%;
      height: @m710px;
    }
    &-diagnostics {
      width: 100%;
      height: @m670px;
    }
  }

  .banner__bg-img-wrapper {
    position: relative;
    margin-top: @m42px;
  }

  .banner__main-wrapper {
    padding-left: 0px;
    &--padding-left {
      padding-left: 0;
    }
  }

  .banner__wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .banner-icon {
    &-blue-therapy {
      padding-left: @m106px;
      line-height: @m44px;
      &::before {
        top: -@m13px;
        left: 0px;
        width: @m84px;
        height: @m84px;
      }
    }
    &-blue-transport {
      padding-left: @m107px;
      &::before {
        top: -@m10px;
        left: 0px;

        width: @m81px;
        height: @m53px;
      }
    }
    &-round-one::after {
      top: -@m92px;
      right: -@m90px;
      transform: rotate(8deg);

      width: @m205px;
      height: @m205px;
    }
    &-round-two::after {
      // top: -@m30px;
      // right: -@m210px;
      top: -@m70px;
      right: -@m150px;

      width: @m190px;
      height: @m190px;
      transform: rotate(80deg);
    }
  }

  .banner__subtitle {
    width: @m580px;
    margin-bottom: @m60px;
    font-size: @m30px;
    &--big {
      font-size: @m50px;
    }
  }

  .banner__title {
    width: @a;
    margin-left: 0;
    margin-bottom: @m45px;

    font-weight: 400;
    font-size: @m75px;
    line-height: @m90px;
    &--w660,
    &--w950 {
      width: @a;
    }
  }

  .banner__description {
    width: @a;
    font-family: @myriad;
    font-weight: 300;
    font-size: @m30px;
    line-height: @m36px;

    &:last-of-type {
      margin-bottom: @m53px;
    }
  }

  .banner__link {
    width: @m520px;
    padding-right: 0;

    font-family: @myriad;
    font-weight: 400;
  }

  .banner__slogan-img-wrapper {
    top: @a;
    // bottom: @m295px;
    // right: @m290px;

    bottom: -@m398px;
    right: @m280px;

    width: @m260px;
    height: @m260px;
  }
}
