.banner-documents {
  margin-bottom: 29rem;
}

.banner-documents__wrapper {
  display: flex;

  min-height: 75rem;
}

.banner-documents__column-left {
  padding-top: 16.5rem;
  // padding-left: 1rem;
  &--w470 {
    width: 47rem;
  }
  &--w515 {
    width: 51.5rem;
  }

  p {
    margin-bottom: 2.4rem;
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.4rem;
  }
}

.banner-documents .banner-documents__subtitle {
  font-weight: 400;
}

.banner-documents__subtitle {
  font-size: 1.6rem;
}

.banner-documents__title {
  margin-bottom: 4.3rem;
}

.banner-documents__desc-title {
  margin-bottom: 1rem;
  font-size: 2.2rem;
  font-weight: 700;
}

.banner-documents__desc {
  margin-bottom: 5.4rem;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.2rem;
}

.banner-documents__link {
}

.banner-documents__column-right {
  // position: relative;
  margin-left: @a;

  position: absolute;
  right: 0;
}

.banner-documents__img-wrapper {
  position: relative;
  z-index: -1;
  // width: 57.65vw; // 1107px;
  width: 110.7rem;
  height: 74.8rem;
}

.banner-documents__item-img,
.banner-documents__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-documents__doc-wrapper {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;

  display: flex;
  box-sizing: border-box;

  width: 79.5rem;
  height: 40.5rem;
  padding: 2.4rem;

  background-color: #f9f9f9;
}

.banner-documents__item {
  margin: 0;
  margin-right: 2rem;
  text-align: center;
}

.banner-documents__item-img-wrapper {
  box-sizing: border-box;

  width: 28.5rem;
  height: 33.2rem;

  margin-bottom: 1.5rem;
  padding-top: 1rem;
  .padding-inline(3.2rem);
  padding-bottom: 1.0rem;

  background-color: #FFFFFF;
  border-radius: 15px;
}

.banner-documents__item-img {
}

.banner-documents__item-desc {
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;

  color: #777777;

  span,
  &--black {
    display: block;
    font-size: 1.8rem;
    font-weight: 400;
    color: #000;
  }
}

.banner-documents__column-left ul,
.banner-documents__list {
  counter-reset: contraindications;
  margin-bottom: 6.5rem;
}

.banner-documents__column-left li,
.banner-documents_item {
  counter-increment: contraindications;
  position: relative;

  margin-bottom: 2.4rem;
  padding-left: 2.5rem;

  font-weight: 300;
  font-size: 1.8rem;
  &::before {
    content: counter(contraindications);
    position: absolute;
    top: -0.4rem;
    left: 0;
    font-weight: bold;
    font-size: 2.2rem;
  }
}

@media (max-width: @mobile-width) {
  .banner-documents {
    margin-bottom: @m300px;
    &.container-out-right {
      .padding-inline(0);
    }
  }

  .banner-documents__wrapper {
    flex-direction: column;
    min-height: 0;
  }

  .banner-documents__column-left {
    margin-bottom: @m130px;
    padding-top: 0;
    padding-left: 0;
    .padding-inline(@m43px);

    &--w470,
    &--w515 {
      width: @a;
    }

    p {
      margin-bottom: @m36px;
      font-size: @m30px;
      line-height: @m36px;
    }
  }

  .banner-documents__subtitle {
    font-size: @m36px;
  }

  .banner-documents__title {
    margin-bottom: @m84px;
  }

  .banner-documents__desc-title {
    margin-bottom: @m38px;
    font-size: @m36px;
  }

  .banner-documents__desc {
    margin-bottom: @m80px;
    font-size: @m30px;
    line-height: @m36px;
  }

  .banner-documents__link {
    font-family: @myriad;
    font-weight: 400;
  }

  .banner-documents__column-right {
    margin-left: 0;

    position: static;
    right: auto;
  }

  .banner-documents__img-wrapper {
    width: 100%;
    height: 120.66vw; // 905px;
  }

  .banner-documents__doc-wrapper {
    width: @m500px;
    height: @m415px;
    padding: @m24px;
  }

  .banner-documents__item {
    margin-right: @m10px;
  }

  .banner-documents__item-img-wrapper {
    width: @m223px;
    height: @m267px;

    margin-bottom: @m37px;
    padding-top: @m12px;
    .padding-inline(@m23px);
    padding-bottom: @m12px;
  }

  .banner-documents__item-desc {
    font-size: @m25px;
    span,
    &--black {
      font-size: @m30px;
    }
  }

  .banner-documents__column-left ul,
  .banner-documents__list {
    margin-bottom: @m95px;
  }

  .banner-documents__column-left li,
  .banner-documents_item {
    margin-bottom: @m40px;
    padding-left: @m56px;
    font-size: @m30px;
    &:last-child {
      margin-bottom: 0;
    }
    &::before {
      top: -@m2px;
      left: @m7px;
      font-size: @m36px;
    }
  }
}
