.banner-info {
  margin-bottom: 13.2rem;
  padding-top: 17.5rem;
  padding-bottom: 14rem;

  background-color: #fff;
  img {
    border-radius: 15px;
  }
}

.banner-info__row-top {
  display: flex;
  padding-bottom: 5rem;
  border-bottom: 1px solid #EAEAEA;
}

.banner-info__main-img-wrapper {
  width: 28.4rem;
  // min-height: 36.7rem;
}

.banner-info__main-img,
.banner-info__logo-img,
.banner-info__block-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-info__text-top-wrapper {
  width: 80.5rem;
  margin-left: 2.3rem;
  padding-top: 3.6rem;
}

.banner-info__subtitle {
  margin-bottom: 2rem;
  padding-left: 0.6rem;
}

.banner-info__title {
  margin-bottom: 4.2rem;
  line-height: 7.2rem;
}

.banner-info__text-top-wrapper p:not(.banner-info__subtitle),
.banner-info__text-bottom-wrapper p,
.banner-info__description,
.banner-info__item,
.banner-info li {
  margin-bottom: 2.2rem;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.2rem;
  &:last-of-type {
    margin-bottom: 2.8rem;
  }
  &--fw600 {
    font-weight: 600;
  }
  &--fw400 {
    font-weight: 400;
  }
  & span {
    display: block;
  }
}

.banner-info ul,
.banner-info__list {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-top: 2.2rem;
  margin-bottom: 2.2rem;
}

.banner-info__item,
.banner-info li {
  position: relative;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  &:last-of-type {
    margin-bottom: 0;
  }
  &::before {
    position: absolute;
    content: '-';
    left: -1rem;
  }
}

.banner-info ol {
  padding-left: 2.4rem;
  li {
    &::before {
      content: none;
    }
  }
}

.banner-info__logo-img-wrapper {
  position: relative;
  align-self: center;

  width: 25.4rem;
  height: 25.4rem;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: 5.3rem;

  &::before {
    content: '';
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 5.8rem;
    height: 5.8rem;

    background-image: url('../img/banner-info/skull.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.banner-info__row-bottom {
  display: flex;
}

.banner-info__text-bottom-wrapper {
  width: 52rem;
  margin-left: -0.3rem;
  padding-top: 4rem;
}

.banner-info__article-title {
  margin-bottom: 3.3rem;
  font-size: 3rem;
  font-weight: 400;
}

.banner-info__link-callback {
  padding-right: 7.7rem;
}

.banner-info__block-images {
  display: flex;
  flex-wrap: wrap;

  width: 90.6rem;
  margin-left: auto;
  padding-top: 2.4rem;
  padding-left: 1.3rem;

  border-left: 1px solid #EAEAEA;
}

.banner-info__block-item {
  display: flex;
  flex-direction: column;

  width: 28.7rem;

  margin: 0;
  margin-right: 2rem;
  margin-bottom: 2.5rem;
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

.banner-info__block-img-wrapper {
  width: 28.7rem;
  height: 34.2rem;
}

.banner-info__block-description {
  display: flex;
  flex-direction: column;

  margin-top: 2.5rem;

  font-size: 1.6rem;
  text-align: center;
  color: #777;

  &--black,
  span {
    display: block;
    .margin-inline(@a);
    font-size: 1.8rem;
    color: #000;
  }

  &--black-color {
    color: #000;
  }
}

.banner-info-team {
  margin-bottom: 18.2rem;
  padding-top: 12.7rem;
  .banner-info__row-top {
    padding-bottom: 4rem;
  }
  .banner-info__description {
    width: 89rem;
  }
  .banner-info__logo-img-wrapper {
    width: 35rem;
    height: 35rem;
    margin-top: 2rem;
    margin-right: 0.6rem;
  }
  .banner-info__block-images {
    width: 100%;
    padding-left: 0;
    border: none;
  }
  .banner-info__block-item {
    &:nth-child(3n) {
      margin-right: 2rem;
    }
    &:nth-child(5n) {
      margin-right: 0;
    }
  }
}

.banner-info-team-lead {
  .banner-info__text-top-wrapper {
    width: 82rem;
    padding-top: 6rem;
  }
  .banner-info__main-img-wrapper {
    padding-top: 1.2rem;
  }
  .banner-info__title {
    margin-bottom: 2.8rem;
  }
  .banner-info__text-bottom-wrapper {
    display: flex;
    flex-direction: column;
    width: 24.5rem;
    margin-right: 5rem;
    padding-top: 11.8rem;
  }
  .banner-info__article-title {
    margin-bottom: 2rem;
  }
  .banner-info__link {
    // margin-top: auto;
    margin-top: 5.5rem;
    margin-bottom: 5.5rem;
  }
  .banner-info__block-images {
    width: auto;
    padding-top: 4.7rem;
    margin-left: 0;
  }
  .banner-info__block-item {
    &:nth-child(3n) {
      margin-right: 2rem;
    }
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

@media (max-width: @mobile-width) {
  .banner-info {
    margin-bottom: @m205px;
    padding-top: @m105px;
    // padding-bottom: @m85px;
    padding-bottom: 0;
  }

  .banner-info__row-top {
    position: relative;
    flex-wrap: wrap;
    padding-bottom: @m86px;

    border-bottom: @m1px solid #EAEAEA;

    &::after {
      content: '';
      position: absolute;
      z-index: 0;
      bottom: -@m320px;
      right: @m65px;

      width: @m1px;
      height: @m432px;
      background-color: #EAEAEA;
    }
  }

  .banner-info__main-img-wrapper {
    align-self: flex-start;
    width: @m284px;
    height: @m367px;
  }

  .banner-info__text-top-wrapper {
    width: @a;
    margin-top: @m105px;
    margin-left: 0;
    padding-top: 0;
  }

  .banner-info__subtitle {
    position: absolute;
    // top: @m100px;
    // right: @m62px;
    // width: @m260px;

    top: 0;
    right: 0;
    width: @m270px;
    height: @m380px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: @m20px;

    margin-bottom: 0;
    padding-left: 0;
  }

  .banner-info__title {
    margin-bottom: @m46px;
    line-height: @m84px;
  }

  .banner-info__text-top-wrapper p:not(.banner-info__subtitle),
  .banner-info__text-bottom-wrapper p,
  .banner-info__description,
  .banner-info__item,
  .banner-info li {
    position: relative;
    z-index: 1;

    margin-bottom: @m35px;
    font-size: @m30px;
    line-height: @m36px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .banner-info ul,
  .banner-info__list {
    margin-left: @m27px;
    margin-top: @m35px;
    margin-bottom: @m35px;
  }

  .banner-info__item,
  .banner-info li {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    &::before {
      left: -@m25px;
    }
  }

  .banner-info ol {
    // padding-left: @m40px;
    padding-left: 0;
  }

  .banner-info__logo-img-wrapper {
    display: none;

    position: absolute;
    // top: @m295px;
    top: @m265px;
    right: -@m27px;

    width: @m254px;
    height: @m254px;
    margin-top: 0;
    margin-right: 0;

    &::before {
      top: 49%;
      left: 52%;
      transform: translate(-50%, -50%);

      width: @m70px;
      height: @m70px;
    }
  }

  .banner-info__row-bottom {
    flex-direction: column;
    margin-top: @m80px;
  }

  .banner-info__text-bottom-wrapper {
    width: @a;
    margin-left: 0;
    margin-bottom: @m96px;
    padding-top: 0;
  }

  .banner-info__article-title {
    margin-bottom: @m64px;
    font-size: @m40px;
  }

  .banner-info__link-callback {
    display: none;
  }

  .banner-info__block-images {
    width: 100%;
    margin-left: auto;
    padding-top: 0;
    padding-left: 0;

    border: none;
  }

  .banner-info__block-img-wrapper {
    width: @m212px;
    height: @m342px;
  }

  .banner-info__block-item {
    width: @m212px;

    margin-right: @m14px;
    margin-bottom: 0;
    margin-bottom: @m70px;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .banner-info__block-description {
    margin-top: @m24px;
    font-size: @m20px;

    &--black,
    span {
      margin-bottom: @m22px;
      font-size: @m25px;
    }

    &--mb0 {
      margin-bottom: 0;
    }
  }

  .banner-info-team {
    margin-bottom: @m123px;
    padding-top: @m40px;
    .banner-info__row-top {
      border: none;
      &::after {
        content: none;
      }
    }
    .banner-info__subtitle {
      position: static;
      width: @m455px;
      margin-bottom: @m83px;

      font-size: @m30px;
      line-height: @m36px;
    }
    .banner-info__title {
      width: @m535px;
      margin-bottom: @m72px;

      font-size: @m60px;
      line-height: @m72px;
    }
    .banner-info__description {
      width: @m640px;
    }
    .banner-info__logo-img-wrapper {
      top: @m80px;
      right: -@m45px;
      width: @m265px;
      height: @m265px;
      margin-top: 0;
      margin-right: 0;
      &::before {
        top: 52%;
        left: 50%;
        width: @m45px;
        height: @m45px;
      }
    }
    .banner-info__block-img-wrapper {
      height: @m255px;
    }
    .banner-info__block-description {
      margin-top: @m15px;
      font-size: @m25px;
      text-align: center;
      &--black,
      span {
        width: @m173px;
        margin-bottom: @m2px;
      }
    }
    .banner-info__block-item {
      // margin-bottom: @m70px;
      &:nth-child(3n) {
        margin-right: 0;
      }
      &:nth-child(5n) {
        margin-right: @m14px;
      }
    }
  }

  .banner-info-team-lead {
    background-color: #f9f9f9;
    .banner-info__text-top-wrapper {
      width: @m300px;
      margin-top: 0;
      margin-left: @m45px;
      padding-top: @m16px;
    }
    .banner-info__subtitle {
      position: static;
      margin-bottom: @m21px;
    }
    .banner-info__title {
      margin-bottom: @m34px;
    }
    .banner-info__logo-img-wrapper {
      top: @m370px;
      right: -@m20px;
    }
    .banner-info__text-bottom-wrapper {
      width: @a;
      padding-top: 0px;
      margin-bottom: @m70px;
    }
    .banner-info__article-title {
      margin-bottom: @m55px;
    }
    .banner-info__block-images {
      padding-top: 0;
    }
    .banner-info__block-item {
      margin-bottom: @m50px;
      &:nth-child(3n) {
        margin-right: 0;
      }
      &:nth-child(4n) {
        margin-right: @m14px;
      }
    }
    .banner-info__block-img-wrapper {
      height: @m255px;
    }
    .banner-info__block-description {
      &--black,
      span {
        width: @m173px;
        margin-bottom: @m2px;
      }
    }
  }
}
