.breadcrumbs {
  margin-bottom: @d65px;
}

.breadcrumbs__list {
  display: flex;
}

.breadcrumbs__item {
  position: relative;
  margin-right: @d37px;

  font-size: @d15px;
  text-decoration-line: underline;

  &:last-child {
    text-decoration-line: none;
    color: #C4C4C4;
  }

  &::before {
    content: '>';
    position: absolute;
    top: 0;
    left: -@d22px;
  }

  &:first-child::before {
    content: none;
  }
}

@media (max-width: @mobile-width) {
  .breadcrumbs {
    margin-bottom: @m89px;
  }

  .breadcrumbs__item {
    margin-right: @m65px;
    font-size: @m25px;
    &:last-child {
      margin-right: 0;
    }
    &::before {
      top: 0;
      left: -@m35px;
    }
  }
}

@media (min-width: @max-desktop-width) {

  .breadcrumbs {
    margin-bottom: 65px;
  }

  .breadcrumbs__item {
    margin-right: 37px;
    font-size: 15px;
    &::before {
      left: -22px;
    }
  }
}
