.documents {
}

.documents__list {
  display: flex;
  flex-wrap: wrap;
}

.documents__item {
  position: relative;
  width: @d125px;
  margin-right: @d138px;
  padding-left: @d44px;

  &:nth-child(2n) {
    margin-right: 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: -@d2px;
    left: 0;
    width: @d34px;
    height: @d34px;

    background-image: url('../img/svg/document-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.documents__link {
  display: block;
}

.documents__title {
  margin-bottom: @d26px;
  font-family: @roboto;
  font-weight: 300;
  font-size: @d18px;

  color: #3F5FD3;
}

.documents__description {
  font-size: @d18px;
  line-height: @d22px;

  color: #262628;
}

@media (max-width: @mobile-width) {
}

@media (min-width: @max-desktop-width) {
  .documents__item {
    width: 125px;
    margin-right: 138px;
    padding-left: 44px;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &::before {
      top: -2px;
      width: 34px;
      height: 34px;
    }
  }

  .documents__title {
    margin-bottom: 26px;
    font-size: 18px;
  }

  .documents__description {
    font-size: 18px;
    line-height: 22px;
  }
}
