// look for full styles in program-swiper.less

.expert-swiper {
  // margin-bottom: 21.2rem;

  .expert-progressbar {
    transform: translateX(-42.5%);
  }

  .swiper-container--progressbar {
    .swiper-wrapper {
      margin-bottom: 4.8rem;
    }
  }
}

.expert-swiper__slide {
  display: block;
  height: 29.8rem;
}

.expert-swiper__img-wrapper {
  width: 100%;
  height: 29.8rem;
}

.expert-swiper__img {
  border-radius: 1.5rem;
}

@media (max-width: @mobile-width) {
  .expert-swiper {
    // margin-bottom: @m300px;
    .expert-progressbar {
      transform: translateX(-50%);
    }
    .swiper-container--progressbar {
      .swiper-wrapper {
        margin-bottom: @m68px;
      }
    }
  }

  .expert-swiper__slide {
    height: @m352px;
  }

  .expert-swiper__img {
    border-radius: @m15px;
  }
}
