.main-info {
  margin-bottom: 17.6rem;
  &--mb0 {
    margin-bottom: 0;
  }
}

.bg.main-info {
  height: 93.4rem;
  color: #fff;
}

.database.main-info {
  .main-info__bg-wrapper {
    background-color: #3B2424;
  }
  .main-info__content {
    padding-top: 38.2rem;
  }
  .main-info__title {
    font-family: @myriad;
    margin-bottom: 8.9rem;
  }
  .main-info__benefit-link {
    font-family: @myriad;
    font-weight: 400;
    &::before {
      background-color: #9BB1FF;
    }
  }
}

.article-page.main-info {
  position: relative;
  margin-bottom: 5.5rem;
}

.main-info__bg-wrapper {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 93.4rem;
  background-color: #253b88;
}

.article-page {
  .main-info__bg-wrapper {
    position: relative;
    height: 64.1rem;
    background-color: #484242;
  }
  .main-info__slogan-img-wrapper {
    top: 9.5rem;
    right: 23.8rem;
    margin-right: 0;
  }
}

.main-info__bg-img,
.main-info__slogan-img,
.main-info__service-img,
.main-info__service-slogan-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-info__content {
  position: relative;
  z-index: 1;

  padding-top: 31.7rem;
}

.main-info__top-wrapper {
  display: flex;
  justify-content: space-between;
}

.main-info__features-text {
  margin-bottom: 4.3rem;
}

.main-info__title {
  overflow: hidden;

  position: relative;
  margin-bottom: 3.3rem;

  font-size: 9.5rem;
  font-family: @circe;
  font-weight: 800;
  text-transform: uppercase;

  white-space: nowrap;

  &--fz130d { // about
    font-size: 13rem;
  }

  &--fz105d { // index
    font-size: 10.5rem;
  }

  // &--fz95d { // centers
  //   font-size: @d95px;
  // }

  &--fz90d { // database
    font-size: 9rem;
  }

  // &--fz72d { // service-detox
  //   font-size: @d72px;
  // }

  &--padding-left {
    padding-left: 19.8rem;
  }
}

.service-page {
  .main-info__title {
    font-size: 7.2rem;
  }
}

.main-info__features {
  position: relative;
  margin-bottom: 16.2rem;
  &--mb135 {
    margin-bottom: 13.5rem;
  }
}

.main-info__slogan-img-wrapper {
  position: absolute;
  right: 0px;
  width: 25.7rem;
  height: 25.4rem;
  margin-right: 33rem;
}

.main-info__link-wrapper {
  display: flex;
  justify-content: space-between;
}

.main-info__link {
  padding-right: 2.9rem;
}

.main-info__btn-bottom {
  position: relative;

  display: flex;
  width: 9.2rem;
  height: 9.1rem;

  .margin-inline(@a);
  padding: 0;

  background-color: transparent;
  border: none;
  border-radius: 50%;

  cursor: pointer;

  &-img {
    border-radius: 50%;
  }

  &:active {
    padding: 0;
  }

  &::before {
    content: '';
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 2.5rem;
    height: 4rem;

    background-image: url('../img/main-info/btn-bottom-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.main-info__subtitle {
  margin-bottom: 1.7rem;
  font-size: 2rem;
  font-weight: 600;
}

.main-info__benefits-wrapper {
  display: flex;
}

.main-info__benefit-column {
  margin-right: 10rem;
  &:last-of-type {
    margin-right: 0;
  }
}

.main-info__benefit-title {
  font-size: 6rem;
  font-weight: 700;
}

.main-info__benefit-description {
  font-size: 2rem;
}

.main-info__benefit-content-help {
  margin-top: 0.6rem;
  margin-left: 1rem;
  margin-right: 11.2rem;

  .main-info__benefit-title {
    margin-bottom: 2.2rem;
    font-size: 3rem;
  }

  .main-info__benefit-description {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}

.main-info__benefit-text-wrapper {
  width: 31rem;
}

.main-info__benefit-link {
  margin-top: 4rem;
}

.main-info__service-wrapper {
  position: relative;
  display: flex;
}

.main-info__service-column-left {
  width: 60rem;
  height: 60.5rem;
  margin-left: 2rem;
}

.main-info__service-column-right {
  width: 58.8rem;
  padding-top: 9rem;
}

.main-info__desc-title {
  margin-bottom: 2.3rem;
  font-weight: 400;
  font-size: 3rem;
}

.main-info__desc {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.main-info__service-benefits {
  margin-top: 4rem;
  .main-info__benefit-column {
    margin-right: 12rem;
    &:last-of-type {
      margin-right: 0;
    }
  }
  .main-info__benefit-title {
    font-size: 5rem;
  }
}

.main-info__service-slogan-wrapper {
  position: absolute;
  top: -10.6rem;
  right: 3.8rem;
  width: 25.7rem;
  height: 25.4rem;
}

.main-info__central-block {
  box-sizing: border-box;

  position: absolute;
  bottom: -1.3rem;
  left: 50%;
  transform: translateX(-50%);

  // width: 66.66vw; // 1280px
  width: 128rem;
  padding-top: 5.3rem;
  .padding-inline(8rem);
  padding-bottom: 0px;

  background-color: #f9f9f9;
}

.main-info__central-title {
  font-weight: 300;
  font-size: 5rem;
  line-height: 6rem;
  text-align: center;
}

@media (max-width: @mobile-width) {
  // .active.main-info {
  //   position: relative;
  //   .main-info__bg-wrapper {
  //     position: relative;
  //   }
  // }

  .main-info {
    position: relative;
    margin-bottom: 15.3rem;
  }

  .bg.main-info {
    // height: 205.33vw; // 1540px;
    height: 154rem;
  }

  .database.main-info {
    .main-info__content {
      padding-top: 30rem;
    }
    .main-info__title {
      margin-bottom: 11.2rem;
      font-size: 10rem;
    }
  }

  .article-page.main-info {
    margin-bottom: 7.4rem;
  }

  .article-page {
   .main-info__bg-wrapper {
      height: @m680px;
    }
    .main-info__slogan-img-wrapper {
      top: @m195px;
      right: @a;
      left: @m121px;
    }
  }

  .main-info__bg-wrapper {
    // height: 205.33vw; // 1540px;
    height: 154rem;
  }

  .main-info__content {
    overflow: visible;
    padding-top: 23.6rem;
  }

  .main-info__link-region {
    margin-top: 1.2rem;
    font-size: 1.8rem;
  }

  .main-info__features-text {
    margin-bottom: 7rem;
  }

  .main-info__title {
    overflow: visible;

    margin-bottom: 6.2rem;

    font-size: 7.5rem;
    line-height: 9rem;
    white-space: normal;
    &--fz60m {
      font-size: 6rem;
    }
    &--padding-left {
      .padding-inline(4.3rem);
    }
    &--block {
      display: block;
    }
  }

  .service-page {
    .main-info__title {
      font-size: @m60px;
    }
  }

  .main-info__slogan-img-wrapper {
    top: 49.2rem;
    right: -2.8rem;
    width: 25.7rem;
    height: 25.4rem;
    margin-right: 0;
  }

  .main-info__link {
    padding-right: 2.8rem;
    font-size: 2.5rem;
    &::before {
      height: 0.2rem;
    }
  }

  .main-info__btn-bottom {
    position: absolute;
    bottom: 6.5rem;
    left: 50%;
    transform: translateX(-50%);


    width: 9.2rem;
    height: 9.1rem;
    &::before {
      width: 2.5rem;
      height: 4rem;
    }
  }

  .main-info__subtitle {
    margin-bottom: 4.7rem;
    font-size: 3rem;
  }

  .main-info__benefits-wrapper {
    flex-wrap: wrap;
  }

  .main-info__benefit-column {
    margin-right: 17rem;
    margin-bottom: 9.5rem;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .main-info__benefit-title {
    font-size: 7rem;
  }

  .main-info__benefit-description {
    font-size: 3rem;
  }

  .main-info__benefit-content-help {
    margin-top: 1.1rem;
    margin-left: 0;
    margin-right: 2rem;
    margin-bottom: 0;

    .main-info__benefit-title {
      margin-bottom: 3.4rem;
      font-size: 4rem;
      font-weight: 600;
      line-height: 4.8rem;
    }

    .main-info__benefit-description {
      font-size: 3rem;
      line-height: 3.6rem;
    }
  }

  .main-info__benefit-text-wrapper {
    width: 31.5rem;
  }

  .main-info__benefit-link {
    margin-top: 7rem;
  }

  .main-info__service-wrapper {
    flex-wrap: wrap-reverse;
  }

  .main-info__service-column-left {
    width: 60rem;
    height: 60.5rem;
    margin-top: 10rem;
    margin-left: 0px;
  }

  .main-info__service-column-right {
    width: @a;
    padding-top: 0px;
  }

  .main-info__desc-title {
    margin-bottom: 3.5rem;
    font-size: 4rem;
  }

  .main-info__desc {
    font-size: 3rem;
    line-height: 3.6rem;
  }

  .main-info__service-benefits {
    margin-top: 7.5rem;
    .main-info__benefit-column {
      margin-right: 21.2rem;
      margin-bottom: 1.7rem;
      &:last-of-type {
        margin-right: 0;
      }
    }
    .main-info__benefit-title {
      font-size: 7rem;
    }
  }

  .main-info__service-slogan-wrapper {
    top: @a;
    right: 1rem;
    bottom: 39rem;
    width: 25.7rem;
    height: 25.4rem;
  }

  .main-info__central-block {
    bottom: -1.3rem;
    width: 61.4rem;
    padding-top: 3rem;
    .padding-inline(3rem);
  }

  .main-info__central-title {
    font-size: 5rem;
    line-height: 6rem;
  }
}
