.main-info {
  margin-bottom: 17.6rem;
  &--mb0 {
    margin-bottom: 0;
  }
}

.bg.main-info {
  height: 93.4rem;
  color: #fff;
}

.database.main-info {
  .main-info__bg-wrapper {
    background-color: #3B2424;
  }
  .main-info__content {
    padding-top: 38.2rem;
  }
  .main-info__title {
    font-family: @myriad;
    margin-bottom: 8.9rem;
  }
  .main-info__benefit-link {
    font-family: @myriad;
    font-weight: 400;
    &::before {
      background-color: #9BB1FF;
    }
  }
}

.article-page.main-info {
  position: relative;
  margin-bottom: 5.5rem;
}

.service-page.main-info {
  // margin-bottom: 0;
}

.main-info__bg-wrapper {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 93.4rem;
  background-color: #253b88;
}

.article-page {
  .main-info__bg-wrapper {
    position: relative;
    height: 64.1rem;
    background-color: #484242;
  }
  .main-info__slogan-img-wrapper {
    top: 9.5rem;
    right: 23.8rem;
    margin-right: 0;
  }
}

.main-info__bg-img,
.main-info__slogan-img,
.main-info__service-img,
.main-info__service-slogan-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-info__content {
  position: relative;
  z-index: 1;

  padding-top: 31.7rem;
}

.main-info__top-wrapper {
  display: flex;
  justify-content: space-between;
}

.main-info__features-text {
  margin-bottom: 4.3rem;
}

.main-info__title {
  overflow: hidden;

  position: relative;
  margin-bottom: 3.3rem;

  font-size: 9.5rem;
  font-family: @circe;
  font-weight: 800;
  text-transform: uppercase;

  white-space: nowrap;

  &--fz130d { // about
    font-size: 13rem;
  }

  &--fz105d { // index
    font-size: 10.5rem;
  }

  // &--fz95d { // centers
  //   font-size: @d95px;
  // }

  &--fz90d { // database
    font-size: 9rem;
  }

  // &--fz72d { // service-detox
  //   font-size: @d72px;
  // }

  &--padding-left {
    padding-left: 19.8rem;
  }
}

.service-page {
  .main-info__title {
    width: 80%;
    margin-bottom: 6.3rem;

    font-size: 7.2rem;
    white-space: initial;
    hyphens: auto;
    overflow: hidden;
  }
}

.main-info__features {
  position: relative;
  margin-bottom: 16.2rem;
  &--mb135 {
    margin-bottom: 13.5rem;
  }
}

.main-info__slogan-img-wrapper {
  position: absolute;
  right: 0px;
  width: 25.7rem;
  height: 25.4rem;
  margin-right: 33rem;
}

.main-info__link-wrapper {
  display: flex;
  justify-content: space-between;
}

.main-info__link {
  padding-right: 2.9rem;
}

.main-info__btn-bottom {
  position: relative;

  display: flex;
  width: 9.2rem;
  height: 9.1rem;

  .margin-inline(@a);
  padding: 0;

  background-color: transparent;
  border: none;
  border-radius: 50%;

  cursor: pointer;

  &-img {
    border-radius: 50%;
  }

  &:active {
    padding: 0;
  }

  &::before {
    content: '';
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 2.5rem;
    height: 4rem;

    background-image: url('../img/main-info/btn-bottom-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.main-info__subtitle {
  // margin-bottom: 1.7rem;
  margin-bottom: 3.7rem;
  font-size: 2rem;
  font-weight: 600;
}

.main-info__benefits-wrapper {
  display: flex;
}

.main-info__benefit-column {
  margin-right: 10rem;
  &:last-of-type {
    margin-right: 0;
  }
}

.main-info__benefit-title {
  font-size: 6rem;
  font-weight: 700;
}

.main-info__benefit-description {
  font-size: 2rem;
}

.main-info__benefit-content-help {
  margin-top: 0.6rem;
  margin-left: 1rem;
  margin-right: 11.2rem;

  .main-info__benefit-title {
    margin-bottom: 2.2rem;
    font-size: 3rem;
  }

  .main-info__benefit-description {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}

.main-info__benefit-text-wrapper {
  width: 31rem;
}

.main-info__benefit-link {
  margin-top: 4rem;
}

.main-info__service-wrapper {
  position: relative;
  display: flex;
}

.main-info__service-column-left {
  width: 60rem;
  height: 60.5rem;
  // margin-left: 2rem;
  margin-right: 4rem;
}

.main-info__service-column-right {
  width: 58.8rem;
  // margin: 8.6rem 0 0 0;
  padding-top: 8.6rem;
}

.main-info__service-column-right h2,
.main-info__service-column-right h3,
.main-info__desc-title {
  margin-bottom: 2.3rem;
  font-weight: 400;
  font-size: 3rem;
}

.main-info__service-column-right ol,
.main-info__service-column-right ul,
.main-info__service-column-right p,
.main-info__desc {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.main-info__service-benefits .main-info__benefit-title {
  line-height: 1.15;
}

.main-info__service-column-right ol,
.main-info__service-column-right ul {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  margin-left: 1rem;
  li {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }
}

.main-info__service-column-right ul li {
  position: relative;

  &::before {
    content: '-';
    position: absolute;
    left: -1rem;
  }
}

.main-info__service-column-right .main-info__service-benefits {
  margin-left: 0;
  li {
    margin-top: 0;
    margin-bottom: 0;
    &::before {
      content: none;
    }
  }
}

.main-info__service-benefits {
  margin-top: 4rem;
  .main-info__benefit-column {
    margin-right: 12rem;
    &:last-of-type {
      margin-right: 0;
    }
  }
  .main-info__benefit-title {
    font-size: 5rem;
  }
}

.main-info__service-slogan-wrapper {
  position: absolute;
  // top: -10.6rem;
  top: -3.7rem;
  // top: 0;
  right: 3.8rem;
  width: 25.7rem;
  height: 25.4rem;
}

.main-info__central-block {
  box-sizing: border-box;

  position: absolute;
  bottom: -1.3rem;
  left: 50%;
  transform: translateX(-50%);

  // width: 66.66vw; // 1280px
  width: 128rem;
  padding-top: 5.3rem;
  .padding-inline(8rem);
  padding-bottom: 0px;

  background-color: #f9f9f9;
}

.main-info__central-title {
  font-weight: 300;
  font-size: 5rem;
  line-height: 6rem;
  text-align: center;
}

@media (max-width: @mobile-width) {
  // .active.main-info {
  //   position: relative;
  //   .main-info__bg-wrapper {
  //     position: relative;
  //   }
  // }

  .main-info {
    position: relative;
    margin-bottom: @m153px;
  }

  .bg.main-info {
    height: 205.33vw; // 1540px;
  }

  .database.main-info {
    .main-info__content {
      padding-top: @m300px;
    }
    .main-info__title {
      margin-bottom: @m112px;
      font-size: @m100px;
    }
  }

  .article-page.main-info {
    margin-bottom: @m74px;
  }

  .article-page {
   .main-info__bg-wrapper {
      height: @m680px;
    }
    .main-info__slogan-img-wrapper {
      top: @m195px;
      right: @a;
      left: @m121px;
    }
  }

  .main-info__bg-wrapper {
    height: 205.33vw; // 1540px;
  }

  .main-info__content {
    overflow: visible;
    padding-top: @m236px;
  }

  .main-info__link-region {
    margin-top: @m12px;
    font-size: @m18px;
  }

  .main-info__features-text {
    margin-bottom: @m70px;
  }

  .main-info__title {
    overflow: visible;

    margin-bottom: @m62px;

    font-size: @m75px;
    line-height: @m90px;
    white-space: normal;
    &--fz60m {
      font-size: @m60px;
    }
    &--padding-left {
      .padding-inline(@m43px);
    }
    &--block {
      display: block;
    }
  }

  .service-page {
    .main-info__title {
      // font-size: @m60px;
      font-size: @m52px;
    }
  }

  .main-info__slogan-img-wrapper {
    top: @m492px;
    right: -@m28px;
    width: @m257px;
    height: @m254px;
    margin-right: 0;
  }

  .main-info__link {
    padding-right: @m28px;
    font-size: @m25px;
    &::before {
      height: @m2px;
    }
  }

  .main-info__btn-bottom {
    position: absolute;
    bottom: @m65px;
    left: 50%;
    transform: translateX(-50%);


    width: @m92px;
    height: @m91px;
    &::before {
      width: @m25px;
      height: @m40px;
    }
  }

  .main-info__subtitle {
    margin-bottom: @m47px;
    font-size: @m30px;
  }

  .main-info__benefits-wrapper {
    flex-wrap: wrap;
  }

  .main-info__benefit-column {
    margin-right: @m170px;
    margin-bottom: @m95px;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .main-info__benefit-title {
    font-size: @m70px;
  }

  .main-info__benefit-description {
    font-size: @m30px;
  }

  .main-info__benefit-content-help {
    margin-top: @m11px;
    margin-left: 0;
    margin-right: @m20px;
    margin-bottom: 0;

    .main-info__benefit-title {
      margin-bottom: @m34px;
      font-size: @m40px;
      font-weight: 600;
      line-height: @m48px;
    }

    .main-info__benefit-description {
      font-size: @m30px;
      line-height: @m36px;
    }
  }

  .main-info__benefit-text-wrapper {
    width: @m315px;
  }

  .main-info__benefit-link {
    margin-top: @m70px;
  }

  .main-info__service-wrapper {
    flex-wrap: wrap-reverse;
  }

  .main-info__service-column-left {
    // width: @m600px;
    width: 100%;
    height: @m605px;
    margin-top: @m100px;
    margin-left: 0;
    margin-right: 0;
  }

  .main-info__service-column-right {
    width: @a;
    padding-top: 0px;
  }

  .main-info__service-column-right h2,
  .main-info__service-column-right h3,
  .main-info__desc-title {
    margin-bottom: @m35px;
    font-size: @m40px;
  }

  .main-info__service-column-right ol,
  .main-info__service-column-right ul,
  .main-info__service-column-right p,
  .main-info__desc {
    font-size: @m30px;
    line-height: @m36px;
  }

.main-info__service-column-right ol,
.main-info__service-column-right ul {
  margin-top: @m35px;
  margin-bottom: @m35px;
  // margin-left: @m2px;
  margin-left: 0;
  li {
    // margin-top: 0.3rem;
    // margin-bottom: 0.3rem;
  }
}

.main-info__service-column-right ul li {
  &::before {
    left: -@m25px;
  }
}

  .main-info__service-benefits {
    margin-top: @m75px;
    .main-info__benefit-column {
      margin-right: @m212px;
      margin-bottom: @m17px;
      &:last-of-type {
        margin-right: 0;
      }
    }
    .main-info__benefit-title {
      font-size: @m70px;
    }
  }

  .main-info__service-slogan-wrapper {
    top: @a;
    right: @m10px;
    bottom: @m390px;
    width: @m257px;
    height: @m254px;
  }

  .main-info__central-block {
    bottom: -@m13px;
    width: @m614px;
    padding-top: @m30px;
    .padding-inline(@m30px);
  }

  .main-info__central-title {
    font-size: @m50px;
    line-height: @m60px;
  }
}

