.price {
  margin-bottom: 6.4rem;
}

.price__main-title-wrapper {
  margin-bottom: 4.4rem;
}

.price__link {
  width: 28.4rem;
  padding-right: 0;
}

.price__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.price__item {
  position: relative;

  width: 36rem;
  height: 46.8rem;
  margin-right: 2.6rem;
  margin-bottom: 7.6rem;

  &:nth-child(4n) {
    margin-right: 0px;
  }
}

.price-column {
  .price__item {
    margin-right: 0;
  }
}

.price__item-link {
  display: inline-block;
  width: 100%;
  height: 100%;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F9F9F9 78.85%);
}

.price__bg-img-wrapper {
  position: absolute;
  z-index: -1;
  width: 36rem;
  height: 46.8rem;
}

.price__bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.price__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 33.7rem;

  font-size: 1.6rem;
}

.price__cost {
  margin-bottom: 1.8rem;
  font-weight: 700;
  &--normal {
    font-weight: 400;
  }
}

.price__title {
  margin-bottom: 1.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  text-align: center;
}

.price__title ~ p,
.price__description {
  width: 30.4rem;

  line-height: 1.9rem;
  text-align: center;
}

@media (max-width: @mobile-width) {
  .price {
    // margin-bottom: @d64px;
  }

  .price__main-title-wrapper {
    margin-bottom: @m100px;
  }

  .price__link {
    width: @m520px;
  }

  .price__wrapper {
    justify-content: space-between;
  }

  .price__item {
    width: @m324px;
    height: @m470px;
    margin-right: 0;
    margin-bottom: @m122px;
  }

  .price__bg-img-wrapper {
    width: @m324px;
    height: @m470px;
  }

  .price__text-wrapper {
    margin-top: @m315px;
    font-size: @m20px;
  }

  .price__cost {
    margin-bottom: @m20px;
    font-size: @m25px;
    text-align: center;
  }

  .price__title {
    margin-bottom: @m22px;
    font-size: @m30px;
  }

  .price__title ~ p,
  .price__description {
    width: @m304px;
    line-height: @m24px;
  }

}
