.program-swiper {
  margin-bottom: 370px;
}

.program-swiper__main-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 93px;
}

.program-swiper__main-title {
  margin-bottom: 22px;
}

.program-swiper__main-description {
  margin-bottom: 36px;
  font-family: @roboto;
  font-weight: 300;
  font-size: 18px;
}

.program-swiper__link-callback {
  padding-right: 75px;
  font-family: @roboto;
  font-weight: 700;
  font-size: 18px;
}

.program-swiper__img-wrapper {
  // width: 529px;
  // height: 455px;
}

.program-swiper__pagination-wrapper {
  width: 1142px;
  .bred;
  height: 50px;
}

@media (max-width: @mobile-width) {
}

@media (min-width: @max-desktop-width) {
}
