.program {
  margin-bottom: 4.3rem;
}

.program__features-text {
  margin-bottom: 11.6rem;
}

.program__list {
  position: relative;
  display: flex;
  justify-content: space-between;

  margin-bottom: 18.8rem;
  padding-left: 4rem;

  &::after {
    content: '';
    position: absolute;

    bottom: -9rem;
    left: 0;
    width: 100%;
    height: 0.1rem;

    background-color: #E3E3E3;

  }
}

.program__item {
  position: relative;
  width: 24rem;

  font-family: @roboto;
  font-weight: 700;

  &--short {
    width: 22rem;
  }

  &:first-child {
    margin-right: 0.8rem;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -1;

    top: -4.8rem;
    left: -4rem;
    width: 12.1rem;
    height: 12.3rem;

    border-radius: 50%;
  }

  &:first-child::before,
  &:last-child::before {
    background-color: #DCE4FF;
  }

  &:nth-child(2)::before,
  &:nth-last-child(2)::before {
    background-color: #BBCAFF;
  }

  &:nth-child(3)::before {
    background-color: #9BB1FF;
  }
}

.program__item-title {
  margin-bottom: 2rem;
  font-size: 3rem;
  line-height: 3.5rem;

  color: #272727;
}

.program__item-subtitle {
  font-size: 1.8rem;
  color: #C4C4C4;
}

.program__wrapper {
  display: flex;
  position: relative;
}

.program__title {
  margin-left: -0.3rem;
  margin-bottom: 5.4rem;

  font-weight: 300;
  font-size: 6rem;

  color: #161616;
}

.program__link {
  align-self: flex-end;
  margin-left: 8.5rem;
  margin-bottom: 2.8rem;
}

.program__img-wrapper {
  position: relative;
  z-index: -1;
  top: -6.9rem;
  right: 2.3rem;

  width: 64.2rem;
  height: 42.9rem;
}

.program__img-first,
.program__img-second {
  position: absolute;
}

.program__img-first {
  clip-path: circle(37% at 48% 48%);
}

.program__img-second {
  clip-path: circle(11% at 88% 85%);
}


@media (max-width: @mobile-width) {
  .program {
    margin-bottom: @m65px;
    overflow: hidden;
  }

  .program__features-text {
    margin-bottom: @m115px;
  }

  .program__list {
    flex-wrap: wrap;

    margin-bottom: @m192px;
    padding-left: @m50px;

    &::after {
      bottom: -@m98px;
      height: @m1px;
    }
  }

  .program__item {
    width: @m280px;
    margin-bottom: @m128px;
    &--short {
      width: @m280px;
    }
    &:first-child {
      margin-right: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &::before {
      top: -@m45px;
      left: -@m45px;
      width: @m121px;
      height: @m123px;
    }
  }

  .program__item-title {
    margin-bottom: @m39px;

    font-size: @m35px;
    line-height: @m41px;
  }

  .program__item-subtitle {
    font-size: @m20px;
  }

  .program__wrapper {
    flex-wrap: wrap;
  }

  .program__title {
    margin-left: -@m4px;
    margin-bottom: @m56px;

    font-size: @m70px;
  }

  .program__features {
    flex-wrap: wrap;
  }

  .program__link {
    width: @a;
    margin-top: @m85px;
    margin-left: 0;
    margin-bottom: @m130px;
    padding-right: @m45px;
  }

  .program__img-wrapper {
    top: -@m90px;
    right: -@m125px;
    transform: scale(-1, 1);

    width: @m642px;
    height: @m429px;
  }
}
