.program {
  margin-bottom: @d43px;
}

.program__features-text {
  margin-bottom: @d116px;
}

.program__list {
  position: relative;
  display: flex;
  justify-content: space-between;

  margin-bottom: @d188px;
  padding-left: @d40px;

  &::after {
    content: '';
    position: absolute;

    bottom: -@d90px;
    left: 0;
    width: 100%;
    height: @d1px;

    background-color: #E3E3E3;

  }
}

.program__item {
  position: relative;
  width: @d240px;

  font-family: @roboto;
  font-weight: 700;

  &--short {
    width: @d220px;
  }

  &:first-child {
    margin-right: @d8px;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -1;

    top: -@d48px;
    left: -@d40px;
    width: @d121px;
    height: @d123px;

    border-radius: 50%;
  }

  &:first-child::before,
  &:last-child::before {
    background-color: #DCE4FF;
  }

  &:nth-child(2)::before,
  &:nth-last-child(2)::before {
    background-color: #BBCAFF;
  }

  &:nth-child(3)::before {
    background-color: #9BB1FF;
  }
}

.program__item-title {
  margin-bottom: @d20px;
  font-size: @d30px;
  line-height: @d35px;

  color: #272727;
}

.program__item-subtitle {
  font-size: @d18px;
  color: #C4C4C4;
}

.program__wrapper {
  display: flex;
  position: relative;
}

.program__title {
  margin-left: -@d3px;
  margin-bottom: @d54px;

  font-weight: 300;
  font-size: @d60px;

  color: #161616;
}

.program__link {
  align-self: flex-end;
  margin-left: @d85px;
  margin-bottom: @d28px;
}

.program__img-wrapper {
  position: relative;
  z-index: -1;
  top: -@d69px;
  right: @d23px;

  width: @d642px;
  height: @d429px;
}

.program__img-first,
.program__img-second {
  position: absolute;
}

.program__img-first {
  clip-path: circle(37% at 48% 48%);
}

.program__img-second {
  clip-path: circle(11% at 88% 85%);
}


@media (max-width: @mobile-width) {
  .program {
    margin-bottom: @m65px;
  }

  .program__features-text {
    margin-bottom: @m115px;
  }

  .program__list {
    flex-wrap: wrap;

    margin-bottom: @m192px;
    padding-left: @m50px;

    &::after {
      bottom: -@m98px;
      height: @m1px;
    }
  }

  .program__item {
    width: @m280px;
    margin-bottom: @m128px;
    &--short {
      width: @m280px;
    }
    &:first-child {
      margin-right: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &::before {
      top: -@m45px;
      left: -@m45px;
      width: @m121px;
      height: @m123px;
    }
  }

  .program__item-title {
    margin-bottom: @m39px;

    font-size: @m35px;
    line-height: @m41px;
  }

  .program__item-subtitle {
    font-size: @m20px;
  }

  .program__wrapper {
    flex-wrap: wrap;
  }

  .program__title {
    margin-left: -@m4px;
    margin-bottom: @m56px;

    font-size: @m70px;
  }

  .program__features {
    flex-wrap: wrap;
  }

  .program__link {
    margin-top: @m85px;
    margin-left: 0;
    margin-bottom: @m130px;
  }

  .program__img-wrapper {
    top: -@m90px;
    right: -@m125px;
    transform: scale(-1, 1);

    width: @m642px;
    height: @m429px;
  }
}

@media (min-width: @max-desktop-width) {
  .program {
    margin-bottom: 43px;
    // padding-left: 4px;
  }

  .program__features-text {
    margin-bottom: 116px;
  }

  .program__list {
    margin-bottom: 188px;
    padding-left: 40px;

    &::after {
      bottom: -90px;
      height: 1px;
    }
  }

  .program__item {
    width: 240px;
    &:first-child {
      width: 220px;
      margin-right: 8px;
    }
    &:nth-child(2) {
      width: 220px;
    }
    &::before {
      top: -48px;
      left: -40px;
      width: 121px;
      height: 123px;
    }
  }

  .program__item-title {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 35px;
  }

  .program__item-subtitle {
    font-size: 18px;
  }

  .program__title {
    margin-left: -3px;
    margin-bottom: 54px;
    font-size: 60px;
  }

  .program__link {
    margin-left: 85px;
    margin-bottom: 28px;
  }

  .program__img-wrapper {
    top: -69px;
    right: 23px;

    width: 642px;
    height: 429px;
  }
}
