.rehab-main {
  margin-bottom: 23.5rem;
  &--mb160 {
    margin-bottom: 16.3rem;
  }
}

.rehab-main__wrapper {
  display: flex;
}

.rehab-main__main-column {
  position: relative;
  width: 61.7rem;
}

.rehab-main__breadcrumbs {
  margin-bottom: 16.2rem;
}

.rehab-main__city,
.rehab-main__street {
  font-family: @circe;
  font-weight: 800;
  text-transform: uppercase;
}

.rehab-main__city {
  margin-bottom: 0.7rem;
  font-size: 3.5rem;
}

.rehab-main__street {
  font-size: 3rem;
}

.rehab-main__features-text {
  margin-bottom: 4.2rem;
  padding-bottom: 4.3rem;
  border-bottom: 0.1rem solid #C4C4C4;
}

.rehab-main__description {
  width: 57rem;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.4rem;
  &-items {
    display: block;
  }
}

.rehab-main__link {
  position: absolute;
  bottom: 1.7rem;
  padding-right: 2.7rem;
}

.rehab-main__central-column {
  width: 18.5rem;
  margin-left: 3.9rem;
  padding-top: 21.3rem;
  padding-left: 1.4rem;

  border-left: 0.1rem solid #C4C4C4;
}

.rehab-main__feature {
  margin-bottom: 0.5rem;
  font-size: 3.7rem;
  font-weight: 700;
}

.rehab-main__feature-title {
  display: none;
}

.rehab-main__feature-description {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.rehab-main__feature-description--gray {
  font-weight: 300;
  color: #777;
}

.rehab-main__little-img-wrapper {
  width: 17.5rem;
  height: 17rem;
  margin-top: 2rem;
  margin-bottom: 2.6rem;
}

.rehab-main__little-img,
.rehab-main__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rehab-main__img-wrapper-column {
  // width: 85.8rem;
  width: @d858px;
  // height: @d693px;
  height: 69.3rem;
  margin-left: @a;

  position: absolute;
  right: 0;
}

.rehab-main__map-wrapper-column {
  width: 66.4rem;
  // height: @d692px;
}

@media (max-width: @mobile-width) {

  .rehab-main {
    margin-bottom: @m315px;
    &--mb160 {
      margin-bottom: @m166px;
    }
  }

  .rehab-main__wrapper {
    flex-wrap: wrap;
  }

  .rehab-main__main-column {
    width: @a;
  }

  .rehab-main__breadcrumbs {
    margin-bottom: @m80px;
  }

  .rehab-main__city {
    margin-bottom: @m12px;
    font-size: @m60px;
  }

  .rehab-main__street {
    margin-bottom: @m34px;
    font-size: @m45px;
  }

  .rehab-main__features-text {
    margin-bottom: @m45px;
    padding-bottom: @m50px;
    border-bottom: @m1px solid #C4C4C4;
  }

  .rehab-main__description {
    width: @m630px;
    margin-bottom: @m47px;
    font-size: @m30px;
    line-height: @m36px;
  }

  .rehab-main__link {
    position: relative;
    bottom: @a;
    width: @m420px;
    margin-bottom: @m86px;
    padding-right: 0;
  }

  .rehab-main__central-column {
    display: flex;
    flex-wrap: wrap;
    width: @a;
    margin-left: 0;
    margin-bottom: @m28px;
    padding-top: 0;
    padding-left: 0;

    border-left: none;
  }

  .rehab-main__feature-wrapper {
    width: @m230px;
    margin-top: @m18px;
    margin-left: @m38px;
    margin-bottom: @m73px;
  }

  .rehab-main__feature-title {
    display: block;
    margin-bottom: @m15px;
    font-size: @m24px;
  }

  .rehab-main__feature {
    margin-bottom: 0px;
    font-size: @m50px;
  }

  .rehab-main__feature-description {
    font-size: @m30px;
  }

  .rehab-main__little-img-wrapper {
    order: -1;
    width: @m283px;
    height: @m272px;
    margin-top: 0;
    margin-bottom: @m60px;
  }

  .rehab-main__img-wrapper-column {
    position: relative;
    width: 100%;
    height: @m615px;
  }

  .rehab-main__rehab-contacts {
    margin-bottom: @m55px;
    .rehab-contacts__item {
      margin-bottom: 0;
    }
  }

  .rehab-main__map-wrapper-column {
    width: 100%;
    height: @m742px;
  }
}

@media (min-width: @max-desktop-width) {
  .rehab-main__img-wrapper-column {
    width: 858px;
    right: 50%;
    transform: translateX(112%);
  }
}
