.rehab-main {
  margin-bottom: @d235px;
}

.rehab-main__wrapper {
  display: flex;
}

.rehab-main__main-column {
  // display: flex;
  // flex-direction: column;
  position: relative;
  width: @d617px;
}

.rehab-main__breadcrumbs {
  margin-bottom: @d162px;
}

.rehab-main__city,
.rehab-main__street {
  font-family: @circe;
  font-weight: 800;
  text-transform: uppercase;
}

.rehab-main__city {
  margin-bottom: @d7px;
  font-size: @d35px;
}

.rehab-main__street {
  font-size: @d30px;
}

.rehab-main__features-text {
  margin-bottom: @d42px;
  padding-bottom: @d43px;
  border-bottom: @d1px solid #C4C4C4;
  // .features__text-big {
  //   font-size: 30px;
  // }
}

.rehab-main__description {
  width: @d570px;
  font-size: @d18px;
  font-weight: 300;
  line-height: @d24px;
  &-items {
    display: block;
  }
}

.rehab-main__link {
  position: absolute;
  bottom: @d17px;
}

.rehab-main__central-column {
  // display: flex;
  // flex-direction: column;
  width: @d185px;
  margin-left: @d39px;
  padding-top: @d263px;
  padding-left: @d14px;

  border-left: @d1px solid #C4C4C4;
}

.rehab-main__feature {
  margin-bottom: @d5px;
  font-size: @d37px;
  font-weight: 700;
}

.rehab-main__feature-description {
  margin-bottom: @d10px;
  font-size: @d18px;
}

.rehab-main__feature-description--gray {
  color: #777;
}

.rehab-main__little-img-wrapper {
  width: @d175px;
  height: @d170px;
  margin-top: @d20px;
  margin-bottom: @d26px;
}

.rehab-main__little-img,
.rehab-main__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rehab-main__img-wrapper-column {
  width: @d858px;
  height: @d743px;
  margin-left: @a;
}

@media (max-width: @mobile-width) {
}

@media (min-width: @max-desktop-width) {
  .rehab-main {
    margin-bottom: 235px;
  }

  .rehab-main__main-column {
    width: 617px;
  }

  .rehab-main__breadcrumbs {
    margin-bottom: 162px;
  }

  .rehab-main__city {
    margin-bottom: 7px;
    font-size: 35px;
  }

  .rehab-main__street {
    font-size: 30px;
  }

  .rehab-main__features-text {
    margin-bottom: 42px;
    padding-bottom: 43px;
    border-bottom: 1px solid #C4C4C4;
  }

  .rehab-main__description {
    width: 570px;
    font-size: 18px;
    line-height: 24px;
  }

  .rehab-main__link {
    bottom: 17px;
  }

  .rehab-main__central-column {
    width: 185px;
    margin-left: 39px;
    padding-top: 263px;
    padding-left: 14px;

    border-left: 1px solid #C4C4C4;
  }

  .rehab-main__feature {
    margin-bottom: 5px;
    font-size: 37px;
  }

  .rehab-main__feature-description {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .rehab-main__little-img-wrapper {
    width: 175px;
    height: 170px;
    margin-top: 20px;
    margin-bottom: 26px;
  }

  .rehab-main__img-wrapper-column {
    width: 858px;
    height: 743px;
  }
}
