.search {
  &-database {
    margin-bottom: @d128px;
  }
  &-theme {
    margin-bottom: @d96px;
  }
}

.search__form {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.search__btn-icon {
  position: absolute;
  top: -@d7px;
  left: 0;

  width: @d31px;
  height: @d31px;

  background-image: url('../img/svg/search.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  cursor: pointer;
}

.search__input {
  box-sizing: border-box;

  width: 60.625vw; // 1164px
  padding-left: @d45px;
  padding-bottom: @d14px;

  font-size: @d18px;

  background-color: transparent;
  border: none;
  border-bottom: @d2px solid #DCDCDC;
}

.search__btn-submit {
  width: @d286px;
  padding-bottom: @d14px;

  text-align: left;
  border-bottom: @d2px solid #9BB1FF;

  cursor: pointer;
  &::before {
    content: none;
  }
}

@media (max-width: @mobile-width) {
  .search {
    margin-bottom: @m187px;
  }

  .search__form {
    flex-wrap: wrap;
  }

  .search__btn-icon {
    top: -@m6px;
    left: @m2px;
    width: @m50px;
    height: @m50px;
  }

  .search__input {
    width: 100%;
    margin-bottom: @m60px;
    padding-left: @m75px;
    padding-bottom: @m19px;

    font-size: @m30px;
    border-radius: 0;
    border-bottom: @m2px solid #DCDCDC;

    -moz-appearance: none;
 -webkit-appearance: none;
         appearance: none;
  }

  .search__btn-submit {
    width: @m420px;
    padding-bottom: @m10px;
    border-bottom: @m3px solid #9BB1FF;
  }
}

@media (min-width: @max-desktop-width) {
  .search {
    &-database {
      margin-bottom: 128px;
    }
    &-theme {
      margin-bottom: 96px;
    }
  }

  .search__btn-icon {
    top: -7px;

    width: 31px;
    height: 31px;
  }

  .search__input {
    width: 1164px;
    padding-left: 45px;
    padding-bottom: 14px;

    font-size: 18px;
    border-bottom: 2px solid #DCDCDC;
  }

  .search__btn-submit {
    width: 286px;
    padding-bottom: 14px;
    border-bottom: 2px solid #9BB1FF;
    &::before {
      content: none;
    }
  }
}
