.sections-toggle {
  margin-bottom: 13.9rem;
}

.sections-toggle__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  // width: 79.5rem;
  width: 130rem;
  .margin-inline(@a);
}

.sections-toggle__item {
  width: 30%;
  margin-bottom: 2.5rem;
  margin-right: 4.5rem;
  text-align: center;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.sections-toggle__btn {
  position: relative;

  .padding-inline(2.5rem);

  font-family: @circe;
  font-weight: 300;
  font-size: 2rem;

  text-transform: uppercase;
  background-color: transparent;
  border: none;

  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
  }

  &::before {
    content: '';
    position: absolute;

    bottom: -1.2rem;
    left: 0;

    width: 0;
    height: 0.2rem;
    transition-duration: 0.3s;

    background-color: #9BB1FF;

    outline: none;
  }

  &:hover::before,
  &:focus::before {
    width: 100%;
  }
}

.active.sections-toggle__btn {
  display: inline-block;
  font-weight: 700;
  &::before {
    width: 100%;
  }
}

.sections-toggle__select,
.sections-toggle__title,
.sections-toggle__form {
  display: none;
}

@media (max-width: @mobile-width) {
  .sections-toggle {
    margin-bottom: @m110px;
  }

  .sections-toggle__list {
    display: none;
  }

  .sections-toggle__title,
  .sections-toggle__form {
    display: block;
  }

  .sections-toggle__title {
    margin-bottom: @m46px;
    font-size: @m70px;
    font-weight: 300;
  }

  .sections-toggle__select {
    position: relative;

    display: block;
    width: 100%;
    margin-bottom: @m20px;
    padding-top: @m5px;
    padding-bottom: @m8px;

    font-family: @circe;
    font-weight: 700;
    font-size: @m20px;
    text-transform: uppercase;

    background-color: transparent;
    // background-image: url('../img/svg/arrow-bottom-b.svg');
    // background-repeat: no-repeat;
    // background-position: right @m6px top 50%;
    // background-size: @m25px;

    border: none;
    border-radius: 0;
    border-bottom: @m5px solid #9BB1FF;

       -moz-appearance: none;
    -webkit-appearance: none;
            appearance: none;

    outline: none;

    &::after {
      position: absolute;
      content: '';

      transform: translateY(-50%);
      top: 50%;
      right: 0;

      width: @m30px;
      height: @m30px;

      background-image: url('../img/svg/arrow-bottom-b.svg');
      background-repeat: no-repeat;
      // background-position: right @m6px top 50%;
      background-position: center;
      background-size: @m25px;

      transition: 0.5s;
    }

    &.active {
      &::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  .sections-toggle__list {
    flex-direction: column;
    width: @a;
  }

  .sections-toggle__item {
    width: 100%;
    margin-left: 0;
    padding-top: @m10px;
    padding-bottom: @m10px;
    text-align: left;
  }

  .sections-toggle__btn {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    font-size: @m20px;

    &::before {
      content: none;
    }
  }

}
