.service-advantages {
  margin-bottom: 18rem;
  padding-top: 6.7rem;
  text-align: center;
}

.service-advantages__main-title {
  margin-bottom: 9rem;
}

.service-advantages__list {
  counter-reset: advantages;
  display: flex;
  justify-content: space-evenly;
}

.service-advantages__item {
  counter-increment: advantages;
  position: relative;
  width: 32.5rem;
  padding-top: 6.4rem;

  &::before {
    content: counter(advantages);
    position: absolute;
    top: -1.2rem;
    left: 50%;
    transform: translateX(-50%);

    font-size: 6.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke-width: 0.2rem;
    -webkit-text-stroke-color: #9BB1FF;
  }
}

.service-advantages__title {
  margin-bottom: 2rem;

  font-weight: 300;
  font-size: 3rem;
  line-height: 3.6rem;
}

.service-advantages__desc {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.2rem;
}

@media (max-width: @mobile-width) {
  .service-advantages {
    padding-top: @m108px;
  }

  .service-advantages__main-title {
    font-size: @m69px;
    margin-bottom: @m75px;
  }

  .service-advantages__list {
    justify-content: stretch;
    flex-wrap: wrap;
  }

  .service-advantages__item {
    width: 100%;
    margin-bottom: @m100px;
    padding-top: @m130px;
    &::before {
      top: 0;
      font-size: @m112px;
      -webkit-text-stroke-width: @m2px;
    }
  }

  .service-advantages__title {
    margin-bottom: @m30px;
    font-size: @m50px;
    line-height: @m60px;
  }

  .service-advantages__desc {
    font-size: @m30px;
    line-height: @m36px;
  }
}
