.service-price {
  padding-top: 14.7rem;
  padding-bottom: 14.7rem;

  // text-align: center;
  background-color: #fff;
}

.service-price__main-title-wrapper {
  margin-bottom: 3.4rem;
}

.service-price__main-title {
  margin-bottom: 4rem;
}

.service-price__link {
  // margin-bottom: 7rem;
  // padding-right: 6.6rem;
  padding-right: 7.9rem;
}

.service-price__list {
  display: flex;
  justify-content: space-between;
}

.service-price__item {
  box-sizing: border-box;
  width: 47.4rem;

  padding-top: 4.4rem;
  padding-left: 3.2rem;
  padding-right: 1.8rem;
  padding-bottom: 4rem;

  text-align: left;

  border-width: 2px;
  border-style: solid;
  border-radius: 15px;

  &--gray {
    background-color: #F8F9FF;
    border-color: #9BB1FF;
  }
  &--blue {
    background-color: #EFF3FF;
    border-color: #5B7AE4;
  }
  &--pink {
    background-color: #FCF1FF;
    border-color: #AE63C4;
  }
}

.service-price__title {
  margin-bottom: 0.3rem;
  font-weight: 300;
  font-size: 3rem;
}

.service-price__cost {
  margin-bottom: 2.8rem;
  font-size: 4rem;
  color: #262628;
  &--small {
    display: inline-block;
    padding-top: 0.2rem;
    vertical-align: top;
    font-size: 2rem;
  }
}

.service-price__advantages-list {
  display: flex;
  justify-content: space-between;
}

.service-price__advantages-item {
  position: relative;
  width: 10.5rem;
  padding-left: 2.5rem;

  font-family: @circe;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2rem;

  &::before {
    content:'';
    position: absolute;
    top: 0.3rem;
    left: -0.3rem;

    width: 2.2rem;
    height: 1.7rem;

    background-image: url('../img/svg/check.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

// .service-price__grid {
  // display: grid;
  // grid-template-columns: 101.9rem 47rem;
  // justify-content: space-between;
  // align-items: start;
// }

.service-price__content-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.service-price__table {
  // grid-column: ~'1/2';
}

.service-price__banner-wrap,
.service-price__cards-wrap {
  // grid-column: ~'2/3';
  // grid-row: ~'1/2';

  background-repeat: no-repeat;
  background-position: center;
}

.service-price__table,
.service-price__banner-wrap,
.service-price__cards-wrap {
  box-sizing: border-box;

  .padding-inline(3.2rem);

  border-width: 0.2rem;
  border-style: solid;
  border-radius: 1.5rem;
}

.service-price__column-wrap {
  width: 47rem;
}

.service-price__table {
  display: flex;
  flex-direction: column;

  width: 101.9rem;

  background-color: #F8F9FF;
  border-color: #9BB1FF;

  font-weight: 300;
  font-size: 2rem;

  // td {
  //   width: 79.5%;
  //   padding-top: 1.7rem;
  //   padding-bottom: 1.7rem;
  //   border-bottom: 0.1rem solid #DFE2F8;
  // }

  // td:last-child {
  //   width: auto;
  //   font-family: @circe;
  //   font-weight: 400;
  // }

  // tr:last-child {
  //   td {
  //     border-bottom: none;
  //   }
  // }

  li {
    display: flex;
    padding-top: 1.81rem;
    padding-bottom: 1.81rem;
    border-bottom: 0.1rem solid #DFE2F8;
  }

  span {
    width: 20.5%;
    margin-left: auto;
    font-family: @circe;
    font-weight: 400;
  }
}

.service-price__banner-wrap {
  height: 47.6rem;
  margin-bottom: 2.3rem;
  padding-top: 4.1rem;
  padding-right: 1.5rem;

  background-color: #FCF1FF;
  background-image: url(../img/service-price/1-d.png);
  border-color: #AE63C4;
}

.service-price__advantages-desc {
  margin-bottom: 3rem;
}

.service-price__cards-wrap {
  padding-top: 5.3rem;
  padding-bottom: 13.5rem;

  text-align: center;
  background-color: #EFF3FF;
  background-image: url(../img/service-price/2-d.png);
  background-size: cover;
  border-color: #5B7AE4;
}

.service-price__desc {
  font-weight: 300;
  font-size: 3rem;
  strong,
  span {
    display: inline-block;
    margin-top: 0.2rem;
    font-weight: 400;
    font-size: 4rem;
  }
}

@media (max-width: @mobile-width) {
  .service-price {
    padding-top: @m238px;
    padding-bottom: @m108px;
  }

  .service-price__main-title-wrapper {
    margin-bottom: @m85px;
    text-align: center;
    .service-price__link {
      align-self: flex-start;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .service-price__main-title {
    font-size: @m69px;
    margin-bottom: @m71px;
  }

  .service-price__link {
    width: @a;
    margin-bottom: @m106px;
    padding-right: @m50px;
  }

  .service-price__list {
    flex-wrap: wrap;
  }

  .service-price__item {
    width: 100%;

    margin-bottom: @m42px;

    padding-top: @m46px;
    padding-left: @m42px;
    padding-right: @m30px;
    padding-bottom: @m46px;

    border-width: @m2px;
  }

  .service-price__title {
    margin-bottom: @m12px;
    font-size: @m40px;
  }

  .service-price__cost {
    margin-bottom: @m36px;
    font-size: @m50px;
    &--small {
      padding-top: @m3px;
      font-size: @m30px;
    }
  }

  .service-price__advantages-item {
    width: @m145px;
    padding-left: @m35px;
    font-size: @m22px;
    line-height: @m28px;

    &::before {
      top: @m3px;
      left: 0;

      width: @m30px;
      height: @m22px;
    }
  }

  .service-price__content-wrap {
    flex-direction: column;
  }

  .service-price__table,
  .service-price__banner-wrap,
  .service-price__cards-wrap {

    .padding-inline(@m35px);

    border-width: @m2px;
    border-radius: @m15px;
  }

  .service-price__column-wrap {
    width: 100%;
  }

  .service-price__table {
    width: 100%;
    margin-bottom: @m37px;
    font-size: @m30px;

    // td {
    //   width: auto;
    //   padding-top: 1.7rem;
    //   padding-bottom: 1.7rem;
    //   border-bottom: 0.1rem solid #DFE2F8;
    // }

    li {
      flex-direction: column;
      padding-top: @m25px;
      padding-bottom: @m25px;
      border-bottom: @m1px solid #DFE2F8;
    }

    span {
      margin-top: @m7px;
      margin-left: 0;
    }
  }

  .service-price__banner-wrap {
    height: @m478px;
    margin-bottom: @m33px;
    padding-top: @m63px;
    padding-left: @m30px;
    padding-right: @m30px;

    background-image: url(../img/service-price/1-m.png);

    .service-price__advantages-list {
      flex-direction: column;
    }
    .service-price__advantages-item {
      margin-bottom: @m23px;
      font-size: @m20px;
      line-height: @m25px;
    }
  }

  .service-price__advantages-desc {
    margin-bottom: @m45px;
  }

  .service-price__cards-wrap {
    display: flex;
    justify-content: flex-end;

    padding-top: @m60px;
    padding-right: @m66px;
    padding-bottom: @m66px;

    text-align: left;

    background-image: url(../img/service-price/2-m.png);
  }

  .service-price__desc {
    font-size: @m40px;
    strong,
    span {
      margin-top: @m13px;
      font-size: @m50px;
    }
  }

  .service-price__cards-desc {
    width: @m300px;
    font-size: @m40px;
    line-height: @m48px;
  }
}
